{% extends 'user_templates/base.html' %}
{% load static %}
{% block main_content %}
<div class="nk-content nk-content-fluid">
  {% for message in messages %}
    <div class="alert {{ message.tags }} alert-dismissible shadow fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        {{ message}}
    </div>
{% endfor %}
    <div class="container-xl wide-lg">
        <div class="nk-content-body">
            <div class="nk-block-head">
                <div class="nk-block-head-sub">
                </div>
                <div class="nk-block-between-md g-4 card-bordered">
                    <div class="nk-block-head-content">
                        <h4 class="nk-block-title fw-normal">EBanking Check Deposit.</h4>
                        <div class="nk-block-des">
                            <p>you can deposit checks by snapping pictures of the front and back of the check.</p>
                        </div>
                    </div><!-- .nk-block-head-content -->
                    <div class="nk-block-head-content">
                        <ul class="nk-block-tools gx-3">
                            <li><a href="{% url 'adminapp:transfer' %}" class="btn btn-secondary btn-light text-light"><span>Transfer Fund</span><em class="icon ni ni-wallet-out"></em></a></li>
                        </ul>

                    </div><!-- .nk-block-head-content -->
                </div><!-- .nk-block-between -->
            </div><!-- .nk-block-head -->
        </div>
    </div>
  <div class="card card-bordered">
<div class="card-header font-weight-bold text-light" style="background-color:#033d75;">Deposit a check</div>
<div class="card-inner">
<h5 class="card-title">Check Deposit tips</h5>
<p class="card-text"><em class="icon ni ni-alert-circle text-danger" style="font-size: 18px; font-weight: 600;"></em> Choose the account to deposit the check and the check amount.</p>
<p class="card-text"><em class="icon ni ni-alert-circle text-danger" style="font-size: 18px; font-weight: 600;"></em> Ensure the check has been properly endorsed and that it is flat, on a dark, well-lit surface. Then snap pictures of both the front and back of the check, keeping it in the correct parameters. Don’t forget to endorse and write ‘for mobile deposit only’ on the back.
</p>
<p class="card-text"><em class="icon ni ni-alert-circle text-danger" style="font-size: 18px; font-weight: 600;"></em> Submit your check for deposit! We’ll send you an email confirmation that we’ve received your deposit and an email confirmation once it is accepted. Be sure to hold on to your check until you receive this confirmation, once received, destroy the check!
</p>
<hr>
<form action="" method="post" class="buysell-form" enctype="multipart/form-data"> 
    {% csrf_token %} 

    <div class="form-label-group">
      <label class="form-label">Select Account</label>
  </div>
    {% include "user_templates/includes/account_type.html" %}
    

<div class="form-label-group"> <label class="form-label" for="buysell-amount">Check Amount</label> </div> <div class="form-control-group"> 
    <!-- <input type="number" class="form-control form-control-lg form-control-number" id="amount" name="amount" placeholder="2000"> <div class="form-dropdown"> <div class="text">USD<span></span></div> </div> </div> <div class="form-note-group"> <span class="buysell-min form-note-alt"></span> <span class="buysell-rate form-note-alt">You can deposit upto USD for each federal check</span> </div> </div> -->
{{ form.amount}}
    <!-- .buysell-field --> 
<div class="buysell-field form-group row">
<div class="form-group col-md-6">
<label class="form-label" for="customFileLabel">Front of the check</label>
<div class="col-md-12 p-0">
<img class="img-responsive" id="output_imageB" src="../img/size.jpg" style="width:100%; height:130px">
</div>
<p class="clear-fix"></p>
<div class="form-control-wrap">
<div class="custom-file">
<!-- <input type="file" name="fileToUpload" class="custom-file-input" id="fileTag" accept="image/*" onchange="preview_imageB(event)"> -->
{{ form.front_check}}
<label class="custom-file-label" for="customFile">Choose file</label>
</div>
</div>
</div>
<div class="form-group col-md-6">
<label class="form-label" for="customFileLabel">Back of the check</label>
<div class="col-md-12 p-0">
<img class="img-responsive" id="output_image" src="../img/size.jpg" style="width:100%; height:130px">
</div>
<p class="clear-fix"></p>
<div class="form-control-wrap">
<div class="custom-file">
<!-- <input type="file" class="custom-file-input" name="back" accept="image/*" onchange="preview_image(event)"> -->
{{form.back_check}}

<label class="custom-file-label" for="customFile">Choose file</label>
</div>
</div>
</div>
<script type="text/javascript">

var fileTag = document.getElementById("filetag")
var fileTag_back = document.getElementById("filetag_back"),

    preview = document.getElementById("output_imageB");
    preview_back = document.getElementById("output_image");

        
    fileTag.addEventListener("change", function() {
      changeImage(this);
    });
    
    fileTag_back.addEventListener("change", function() {
      changeBackImage(this);
    })


    function changeImage(input) {
      var reader;
    
      if (input.files && input.files[0]) {
        reader = new FileReader();
    
        reader.onload = function(e) {
          preview.setAttribute('src', e.target.result);
        }
    
        reader.readAsDataURL(input.files[0]);
      }
    }

    function changeBackImage(input) {
      var reader;
    
      if (input.files && input.files[0]) {
        reader = new FileReader();
    
        reader.onload = function(e) {
          preview_back.setAttribute('src', e.target.result);
        }
    
        reader.readAsDataURL(input.files[0]);
      }
    }





    //  var fileTag = document.getElementById("filetag"),
    //     preview = document.getElementById("preview");
        
    // fileTag.addEventListener("change", function() {
    //   preview_image(this);
    // });
// function preview_image(event) 
// {
// var reader = new FileReader();
// reader.onload = function()
// {
// var output = document.getElementById('output_image');
// output.src = reader.result;
// }
// reader.readAsDataURL(event.target.files[0]);
// }

// function preview_imageB(event) 
// {
// var reader = new FileReader();
// reader.onload = function()

// {
// var output = document.getElementById('output_imageB');
// output.src = reader.result;

// }
// reader.readAsDataURL(event.target.files[0]);
// }
</script>

</div>
<!-- .buysell-field --> 
<div class="buysell-field form-action">
<button type="submit" name="check" class="btn btn-lg btn-block btn-primary dep">Submit check</button> 
</div>
<!-- .buysell-field --> 
<div class="form-note text-base text-center">Note: our Flash fund fee will be deducted from your account following the completion of this deposit.</div> 
</form>
<!-- .buysell-form -->
</div>
</div>
<script src="../assets/js/jquery.min.js"></script>


</div>

{% endblock main_content %}