{% extends 'user_templates/base.html' %}
{% load static %}
{% block main_content %}
<div class="nk-content nk-content-fluid">
    {% for message in messages %}
    <div class="alert {{ message.tags }} alert-dismissible shadow fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        {{ message}}
    </div>
{% endfor %}
    <div class="container-xl wide-lg">
        <div class="nk-content-body">
            <div class="nk-block-head">
                <div class="nk-block-head-content">
                    <div class="nk-block-head-sub"><span>Account Setting</span></div>
                    <h2 class="nk-block-title fw-normal">My Profile</h2>
                    <div class="nk-block-des">
                        <p>You have full control to manage your own account setting. <span class="text-primary"><em class="icon ni ni-info" data-toggle="tooltip" data-placement="right" title="" data-original-title="Tooltip on right"></em></span></p>
                    </div>
                </div>
            </div><!-- .nk-block-head -->
            <ul class="nk-nav nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link" href="">Personal</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'adminapp:account_settings' %}">Security</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Notifications</a>
                </li>
            </ul><!-- .nk-menu -->
            <!-- NK-Block @s -->
            <div class="nk-block">
                <div class="alert alert-warning">
                    <div class="alert-cta flex-wrap flex-md-nowrap">
                        <div class="alert-text">
                            <p>When you're on public Wi-Fi, hackers can more easily access your computer and steal personal information from it. You should never access your Online Service through a computer, tablet, or mobile phone unless you're on a secure Wi-Fi network with a password, or using your own cell phone data connection. This is much more difficult for thieves to hack, so it keeps your information safer.</p>
                        </div>
                    </div>
                </div><!-- .alert -->
                <div class="nk-block-head">
                    <div class="nk-block-head-content">
                        <h5 class="nk-block-title">Personal Information</h5>
                        <div class="nk-block-des">
                            <p>Basic info, like your name and address, that you using on Veritas Financial Union.</p>
                        </div>
                    </div>
                </div><!-- .nk-block-head -->
                <div class="nk-data data-list">
                    <div class="data-head">
                        <h6 class="overline-title">Basics</h6>
                    </div>
                    <div class="data-item" data-toggle="modal" data-target="#profile-edit">
                        <div class="data-col">
                            <span class="data-label">Full Name</span>
                            <span class="data-value">{{user.get_full_name}} {{user.profile.middle_name}}</span>
                        </div>
                        <div class="data-col data-col-end"><span class="data-more"><em class="icon ni ni-forward-ios"></em></span></div>
                    </div><!-- .data-item -->
                    <div class="data-item" data-toggle="modal" data-target="#profile-edit">
                        <div class="data-col">
                            <span class="data-label">Display Name</span>
                            <span class="data-value">{{user.profile.nick_name}} </span>
                        </div>
                        <div class="data-col data-col-end"><span class="data-more"><em class="icon ni ni-forward-ios"></em></span></div>
                    </div><!-- .data-item -->
                    <div class="data-item">
                        <div class="data-col">
                            <span class="data-label">Email</span>
                            <span class="data-value">{{user.email}}</span>
                        </div>
                        <div class="data-col data-col-end"><span class="data-more disable"><em class="icon ni ni-lock-alt"></em></span></div>
                    </div><!-- .data-item -->
                    <div class="data-item" data-toggle="modal" data-target="#profile-edit">
                        <div class="data-col">
                            <span class="data-label">Phone Number</span>
                            <span class="data-value text-soft">{{user.profile.phone_number}}</span>
                        </div>
                        <div class="data-col data-col-end"><span class="data-more"><em class="icon ni ni-forward-ios"></em></span></div>
                    </div><!-- .data-item -->
                    <div class="data-item" data-toggle="modal" data-target="#profile-edit">
                        <div class="data-col">
                            <span class="data-label">Security Question 1</span>
                            <span class="data-value">{{user.beneficiary_security_details.sq1_select}}</span>
                        </div>
                        <div class="data-col data-col-end"><span class="data-more"><em class="icon ni ni-forward-ios"></em></span></div>
                    </div><!-- .data-item -->
                    <div class="data-item" data-toggle="modal" data-target="#profile-edit">
                        <div class="data-col">
                            <span class="data-label">Security Answer</span>
                            <span class="data-value">{{user.beneficiary_security_details.sq1_answer}}</span>
                        </div>
                        <div class="data-col data-col-end"><span class="data-more"><em class="icon ni ni-forward-ios"></em></span></div>
                    </div><!-- .data-item -->
                    <div class="data-item" data-toggle="modal" data-target="#profile-edit" data-tab-target="#address">
                        <div class="data-col">
                            <span class="data-label">Address</span>
                            <span class="data-value">{{user.profile.residential_address}}</span>
                        </div>
                        <div class="data-col data-col-end"><span class="data-more"><em class="icon ni ni-forward-ios"></em></span></div>
                    </div><!-- .data-item -->
                </div><!-- .nk-data -->
                <div class="nk-data data-list">
                    <div class="data-head">
                        <h6 class="overline-title">Preferences</h6>
                    </div>
                    <div class="data-item">
                        <div class="data-col">
                            <span class="data-label">Language</span>
                            <span class="data-value">English (United States)</span>
                        </div>
                        <div class="data-col data-col-end"><a href="#" data-toggle="modal" data-target="#profile-language" class="link link-primary"></a></div>
                    </div><!-- .data-item -->
                    <div class="data-item">
                        <div class="data-col">
                            <span class="data-label">Date Format</span>
                            <span class="data-value">{{user.profile.date_of_birth}}</span>
                        </div>
                        <div class="data-col data-col-end"><a href="#" data-toggle="modal" data-target="#profile-language" class="link link-primary"></a></div>
                    </div><!-- .data-item -->
                    <div class="data-item">
                        <div class="data-col">
                            <span class="data-label">Current Timezone</span>
                            <span class="data-value" id="timezone"></span>
                        </div>
                        <div class="data-col data-col-end"><a href="#" data-toggle="modal" data-target="#profile-language" class="link link-primary"></a></div>
                    </div><!-- .data-item -->

                    <div class="data-item">
                        <div class="data-col">
                            <span class="data-label">Current Time</span>
                            <span class="data-value" id="current-time"></span>
                        </div>
                        <div class="data-col data-col-end"><a href="#" data-toggle="modal" data-target="#profile-language" class="link link-primary"></a></div>
                    </div><!-- .data-item -->
                </div><!-- .nk-data -->
            </div>
            <!-- NK-Block @e -->
            <!-- //  Content End -->
        </div>
    </div>
</div>

{% endblock main_content %}


{% block custom_js %}
<script>
    const getUserTimeZone = () => {
        return Intl.DateTimeFormat().resolvedOptions().timeZone; // e.g., "America/New_York"
    };

    const getCurrentTime = (timeZone) => {
        return new Date().toLocaleString("en-US", { timeZone }); // Localized current time
    };

    const userTimeZone = getUserTimeZone();
    document.getElementById("timezone").innerText = userTimeZone;
    document.getElementById("current-time").innerText = getCurrentTime(userTimeZone);
</script>
{% endblock custom_js %}