{% extends 'user_templates/base.html' %}
{% load static %}

{% block sidebar %}

<div class="nk-sidebar nk-sidebar-fixed" data-content="sidebarMenu">
    <div class="nk-sidebar-element nk-sidebar-head" style="border-bottom: solid #fe473a;">
        <div class="nk-sidebar-brand">
            <a href="{% url 'adminapp:user_profile' %}" class="logo-link nk-sidebar-logo">
                <img class="logo-light logo-img" src="{% static 'account-assets/media/img/capital_logo.png' %}" srcset="{% static 'account-assets/media/img/capital_logo.png' %} 2x" alt="logo">
                <img class="logo-dark logo-img" src="{% static 'account-assets/media/img/capital_logo.png' %}" srcset="{% static 'account-assets/media/img/capital_logo.png' %} 2x" alt="logo-dark">
                
            </a>
        </div>
        <div class="nk-menu-trigger mr-n2">
            <a href="#" class="nk-nav-toggle nk-quick-nav-icon d-xl-none" data-target="sidebarMenu"><em class="icon ni ni-arrow-left"></em></a>
        </div>
    </div><!-- .nk-sidebar-element -->
    <div class="nk-sidebar-element">
        <div class="nk-sidebar-body" data-simplebar="init"><div class="simplebar-wrapper" style="margin: 0px;"><div class="simplebar-height-auto-observer-wrapper"><div class="simplebar-height-auto-observer">
        </div></div><div class="simplebar-mask">
            <div class="simplebar-offset" style="right: 0px; bottom: 0px;"><div class="simplebar-content-wrapper" style="height: auto; overflow: hidden scroll;"><div class="simplebar-content" style="padding: 0px;">
            <div class="nk-sidebar-content">
                <div class="nk-sidebar-widget d-none d-xl-block">
                    <div class="user-account-info between-center">
                        <div class="user-account-main">
                            <h6 class="overline-title-alt">Available Balance</h6>
                            <div class="user-balance"><small class="currency currency-btc">USD</small> {{user.formatted_balance}}</div>
                             <div class="user-balance-alt"><span class="currency currency-btc">USD</span> {{user.formatted_balance}}</div>
                        </div>
                        <a href="#" class="btn btn-white btn-icon btn-light"><em class="icon ni ni-line-chart"></em></a>
                    </div>
                    <ul class="user-account-data gy-1">
                        <li>
                            <div class="user-account-label">
                                <span class="sub-text">Income</span>
                            </div>
                            <div class="user-account-value">

                                <span class="text-success ml-2">66.12% <em class="icon ni ni-arrow-long-up"></em></span>
                            </div>
                        </li>
                        <li>
                            <div class="user-account-label">
                                <span class="sub-text">Debits</span>
                            </div>
                            <div class="user-account-value">
                               <span class="text-danger ml-2">24.18% <em class="icon ni ni-arrow-long-down"></em></span>
                            </div>
                        </li>
                    </ul>
                    <div class="user-account-actions">
                        <ul class="g-3">
                            <li><a href="{% url 'adminapp:transfer' %}" class="btn btn-lg btn-primary"><span><em class="icon ni ni-arrow-long-right"></em> Transfer</span></a></li>
                            <li><a href="pay-bills" class="btn btn-lg btn-secondary"><span><em class="icon ni ni-arrow-long-right"></em> Pay Bills</span></a></li>
                        </ul>
                    </div>
                </div>

{% endblock sidebar %}


{% block main_content %}


<div class="nk-content">
           <div class="nk-content nk-content-fluid">
                        <div class="container-xl wide-lg">
                            <div class="nk-content-body">
                                <div class="buysell wide-xs m-auto">
                                    <div class="buysell-title text-center">
                                        <h2 class="title">Capital Funding Financial Online Service Transfer.</h2>
                                    </div><!-- .buysell-title -->
                                    <form>
                                        <input type="hidden" id="amount" value="{{amount}}" name="amount">
                                        <input type="hidden" id="bank_name" value="{{bank_name}}" name="bank_name">
                                        <input type="hidden" id="account_number" value="{{account_number}}" name="account_number">
                                        <input type="hidden" id="account_holder" value="{{account_holder}}" name="account_holder">
                                        <input type="hidden" id="routing_no" value="{{routing_number}}" name="routing_no">
                                        <input type="hidden" id="description" value="{{description}}" name="description">

                                    </form>
                                                                       <form action="" method="post">
                                                                        {% csrf_token %}
                                           
                                        <div class="card card-preview">
                                            <div class="card-inner">
                                                <div class="preview-block">
                                                    
                                                    
                                                    <div class="buysell-field form-action">
                                                        <!-- Modal Trigger Code -->
                                                        
<!-- Modal Content Code -->
    <div class="modal-dialog modal-dialog-centered modal-md" role="document">      
       <div class="modal-content">
           <a href='{% url "adminapp:transfer" %}' class="close" data-dismiss="modal"><em class="icon ni ni-cross-sm"></em></a>
           <div class="modal-body modal-body-lg">
               <div class="nk-block-head nk-block-head-xs text-center">
                   <h5 class="nk-block-title">Review transaction</h5>
                   <div class="nk-block-text">
                       <div class="caption-text text-primary display-4">Kindly review this transaction before proceeding.</div>
                   </div>
               </div>
               <div class="nk-block">
                   <div class="buysell-overview">
                       <ul class="buysell-overview-list">
                           <li class="buysell-overview-item">
                           <span class="pm-title"><em class="icon ni ni-alert-circle"></em> <span>Amount</span></span>
                               <span class="pm-title">{{formatted_amount}}</span>
                           </li>
                           <li class="buysell-overview-item">
                               <span class="pm-title"><em class="icon ni ni-alert-circle"></em> Bank Name</span>
                               <span class="pm-currency">{{bank_name}}</span>
                           </li>
                           <li class="buysell-overview-item">
                               <span class="pm-title"><em class="icon ni ni-alert-circle"></em> Routing number</span>
                               <span class="pm-currency">{{routing_number}}</span>
                           </li>
                           <li class="buysell-overview-item">
                               <span class="pm-title"><em class="icon ni ni-alert-circle"></em> Account Number</span>
                               <span class="pm-currency">{{account_number}}</span>
                           </li>
                           <li class="buysell-overview-item">
                               <span class="pm-title"><em class="icon ni ni-alert-circle"></em> Account Holder</span>
                               <span class="pm-currency">{{account_holder}}</span>
                           </li>
                            <li class="buysell-overview-item">
                               <span class="pm-title"><em class="icon ni ni-alert-circle"></em> Description </span>
                               <span class="pm-currency">{{description}}</span>
                           </li>
                       </ul>
                   </div>
                   <div class="buysell-field form-group">
                       <div class="form-label-group">
                           <label class="form-label">Sending from:</label>
                       </div>
                       <input type="hidden" value="btc" name="bs-currency" id="buysell-choose-currency-modal">
                       {% include "user_templates/includes/account_type.html" %}
                       
                       <div class="clearfix"></div>
                       <div class="sub-text-sm text-primary">* Our transaction fee are included.</div>
                   </div><!-- .buysell-field -->
                   <div class="buysell-field form-action text-center">
                       <div>
                           <form action="" method="post">
                           <input type="hidden" value="1">
                           <button id="modalDefault" class="btn btn-primary btn-block btn-lg eg-swal-av5" data-dismiss="modal" name="confirm" data-toggle="modal" data-target="#confirm-coin"> continue transaction</button>
                           </form>
                       </div>
                       <div class="pt-3">
                           <a href='{% url "adminapp:transfer" %}' data-dismiss="modal" class="link link-danger">Cancel transaction</a>
                       </div>
                   </div>
               </div><!-- .nk-block -->
           </div><!-- .modal-body -->
       </div><!-- .modal-content -->
       </div>
                                            </div>
    
                                                            </div>
                            </div>
                        </div></form>
                    </div>
                </div>
            </div>
              
            
    
    {% endblock main_content %}

    {% block custom_js %}
    <script>
        $('#modalDefault').on("click", function (e) {
            e.preventDefault();
        
            Swal.fire({
                title: 'Verification Required',
                text: 'A verification code has been sent to your email. Please enter the code to proceed.',
                input: 'text',
                inputAttributes: {
                    maxlength: 6,
                    pattern: '[0-9]*',
                    placeholder: 'Enter Verification Code'
                },
                inputValidator: (value) => {
                    if (!value) {
                        return 'You need to enter a code!';
                    }
                },
                showCancelButton: true,
                confirmButtonText: 'Verify',
                showLoaderOnConfirm: true,
                preConfirm: (code) => {
                    return $.ajax({
                        type: "POST",
                        url: "{% url 'verify_transaction' %}",
                        headers: { 'X-CSRFToken': '{{ csrf_token }}' },
                        data: {
                            verification_code: code
                        }
                    })
                    .then(response => {
                        if (response.status === 'success') {
                            return response;
                        } else {
                            throw new Error(response.message || 'Verification failed');
                        }
                    })
                    .catch(error => {
                        Swal.showValidationMessage(error.message);
                    });
                },
                allowOutsideClick: () => !Swal.isLoading()
            }).then((result) => {
                if (result.isConfirmed) {
                    Swal.fire({
                        icon: 'success',
                        title: 'Transaction Verified!',
                        text: 'Your transaction is now completed.',
                    }).then(() => {
                        window.location.href = '/user/transaction-successful';
                    });
                }
            });
        });
        
     </script>
    
    {% endblock custom_js %}









