{% extends 'user_templates/base.html' %}
{% load static %}

{% block sidebar %}

<div class="nk-sidebar nk-sidebar-fixed" data-content="sidebarMenu">
    <div class="nk-sidebar-element nk-sidebar-head" style="border-bottom: solid #fe473a;">
        <div class="nk-sidebar-brand">
            <a href="{% url 'adminapp:user_profile' %}" class="logo-link nk-sidebar-logo">
                <img class="logo-light logo-img" src="{% static 'account-assets/media/img/capital_logo.png' %}" srcset="{% static 'account-assets/media/img/capital_logo.png' %} 2x" alt="logo">
                <img class="logo-dark logo-img" src="{% static 'account-assets/media/img/capital_logo.png' %}" srcset="{% static 'account-assets/media/img/capital_logo.png' %} 2x" alt="logo-dark">
                
            </a>
        </div>
        <div class="nk-menu-trigger mr-n2">
            <a href="#" class="nk-nav-toggle nk-quick-nav-icon d-xl-none" data-target="sidebarMenu"><em class="icon ni ni-arrow-left"></em></a>
        </div>
    </div><!-- .nk-sidebar-element -->
    <div class="nk-sidebar-element">
        <div class="nk-sidebar-body" data-simplebar="init"><div class="simplebar-wrapper" style="margin: 0px;"><div class="simplebar-height-auto-observer-wrapper"><div class="simplebar-height-auto-observer">
        </div></div><div class="simplebar-mask">
            <div class="simplebar-offset" style="right: 0px; bottom: 0px;"><div class="simplebar-content-wrapper" style="height: auto; overflow: hidden scroll;"><div class="simplebar-content" style="padding: 0px;">
            <div class="nk-sidebar-content">
                <div class="nk-sidebar-widget d-none d-xl-block">
                    <div class="user-account-info between-center">
                        <div class="user-account-main">
                            <h6 class="overline-title-alt">Available Balance</h6>
                            <div class="user-balance">833,000 <small class="currency currency-btc">USD</small></div>
                            <div class="user-balance-alt">3,833,000 <span class="currency currency-btc">USD</span></div>
                        </div>
                        <a href="#" class="btn btn-white btn-icon btn-light"><em class="icon ni ni-line-chart"></em></a>
                    </div>
                    <ul class="user-account-data gy-1">
                        <li>
                            <div class="user-account-label">
                                <span class="sub-text">Income</span>
                            </div>
                            <div class="user-account-value">

                                <span class="text-success ml-2">66.12% <em class="icon ni ni-arrow-long-up"></em></span>
                            </div>
                        </li>
                        <li>
                            <div class="user-account-label">
                                <span class="sub-text">Debits</span>
                            </div>
                            <div class="user-account-value">
                               <span class="text-danger ml-2">24.18% <em class="icon ni ni-arrow-long-down"></em></span>
                            </div>
                        </li>
                    </ul>
                    <div class="user-account-actions">
                        <ul class="g-3">
                            <li><a href="{% url 'adminapp:transfer' %}" class="btn btn-lg btn-primary"><span><em class="icon ni ni-arrow-long-right"></em> Transfer</span></a></li>
                            <li><a href="pay-bills" class="btn btn-lg btn-secondary"><span><em class="icon ni ni-arrow-long-right"></em> Pay Bills</span></a></li>
                        </ul>
                    </div>
                </div>

{% endblock sidebar %}


{% block main_content %}


<div class="nk-content">
           <div class="nk-content nk-content-fluid">
                        <div class="container-xl wide-lg">
                            <div class="nk-content-body">
                                <div class="buysell wide-xs m-auto">
                                    <div class="buysell-title text-center">
                                        <h2 class="title">Capital Funding Financial Online Service Transfer.</h2>
                                    </div><!-- .buysell-title -->
                                                                       <form action="" method="post">
                                                                        {% csrf_token %}
                                           
                                        <div class="card card-preview">
                                            <div class="card-inner">
                                                <div class="preview-block">
                                                    
                                                    
                                                    <div class="buysell-field form-action">
                                                        <!-- Modal Trigger Code -->
                                                        
<!-- Modal Content Code -->
    <div class="modal-dialog modal-dialog-centered modal-md" role="document">      
       <div class="modal-content">
           <a href="#" class="close" data-dismiss="modal"><em class="icon ni ni-cross-sm"></em></a>
           <div class="modal-body modal-body-lg">
               <div class="nk-block-head nk-block-head-xs text-center">
                   <h5 class="nk-block-title">Review transaction</h5>
                   <div class="nk-block-text">
                       <div class="caption-text text-primary display-4">Kindly review this transaction before proceeding.</div>
                   </div>
               </div>
               <div class="nk-block">
                   <div class="buysell-overview">
                       <ul class="buysell-overview-list">
                           <li class="buysell-overview-item">
                           <span class="pm-title"><em class="icon ni ni-alert-circle"></em> <span>Amount</span></span>
                               <span class="pm-title">USD 30</span>
                           </li>
                           <li class="buysell-overview-item">
                               <span class="pm-title"><em class="icon ni ni-alert-circle"></em> Bank Name</span>
                               <span class="pm-currency">Academy Bank</span>
                           </li>
                           <li class="buysell-overview-item">
                               <span class="pm-title"><em class="icon ni ni-alert-circle"></em> Routing number</span>
                               <span class="pm-currency">00346783905</span>
                           </li>
                           <li class="buysell-overview-item">
                               <span class="pm-title"><em class="icon ni ni-alert-circle"></em> Account Number</span>
                               <span class="pm-currency">0529038457</span>
                           </li>
                           <li class="buysell-overview-item">
                               <span class="pm-title"><em class="icon ni ni-alert-circle"></em> Account Holder</span>
                               <span class="pm-currency">john Williams</span>
                           </li>
                            <li class="buysell-overview-item">
                               <span class="pm-title"><em class="icon ni ni-alert-circle"></em> Description </span>
                               <span class="pm-currency">contract</span>
                           </li>
                       </ul>
                   </div>
                   <div class="buysell-field form-group">
                       <div class="form-label-group">
                           <label class="form-label">Sending from:</label>
                       </div>
                       <input type="hidden" value="btc" name="bs-currency" id="buysell-choose-currency-modal">
                       <div class="dropdown buysell-cc-dropdown">
                           <a href="#" class="buysell-cc-choosen dropdown-indicator" data-toggle="dropdown">
                               <div class="coin-item coin-btc">
                                   <div class="coin-icon">
                                       <em class="icon ni ni-wallet-out"></em>
                                   </div>
                                   <div class="coin-info">
                                       <span class="coin-name">BUSINESS ACCOUNT</span>
                                       <span class="coin-text">9560******</span>
                                   </div>
                               </div>
                           </a>
                       </div>
                       <div class="clearfix"></div>
                       <div class="sub-text-sm text-primary">* Our transaction fee are included.</div>
                   </div><!-- .buysell-field -->
                   <div class="buysell-field form-action text-center">
                       <div>
                           <form action="" method="post">
                           <input type="hidden" value="1">
                           <button href="#" class="btn btn-primary btn-block btn-lg eg-swal-av5" data-dismiss="modal" name="confirm" data-toggle="modal" data-target="#confirm-coin"> continue transaction</button>
                           </form>
                       </div>
                       <div class="pt-3">
                           <a href="#" data-dismiss="modal" class="link link-danger">Cancel transaction</a>
                       </div>
                   </div>
               </div><!-- .nk-block -->
           </div><!-- .modal-body -->
       </div><!-- .modal-content -->
       </div>
                                                <br>
                                                <p> </p>
                                                <center>
                                                 <a class="btn btn-sm btn-light" href="transfer?action=edit"><em class="icon ni ni-edit"></em> Edit</a>
                                             </center>
                                            </div>
    
                                                            </div>
                            </div>
                        </div></form>
                    </div>
                </div>
            </div>
              
            
    
    {% endblock main_content %}

    {% block custom_js %}
    <script>
        $('.eg-swal-av5').on("click", function (e) {
         var timerInterval;
            Swal.fire({
              title: 'Proccessing Transaction!',
              html: 'Please wait...',
              timer: 5000,
              timerProgressBar: true,
              onBeforeOpen: function onBeforeOpen() {
                Swal.showLoading();
                timerInterval = setInterval(function () {
                  Swal.getContent().querySelector('b').textContent = Swal.getTimerLeft();
                }, 100);
              },
              onClose: function onClose() {
                clearInterval(timerInterval);
                window.location.href='/user/transaction-successful';
              }
            }).then(function (result) {
              if (
            
              result.dismiss === Swal.DismissReason.timer) {
                console.log('I was closed by the timer'); // eslint-disable-line
              }
            });
            e.preventDefault();
            });
            </script>

            <script type="text/javascript">
                $(document).ready(function(){
                $("#accountnumber").change(function(){
                  var accountnumber = $("#accountnumber").val();
                  $.ajax({
                 type:"post",
                 url:"../scripts/user_account_name.php",
                 data: { "accountnumber": accountnumber},
                 success:function(data){
                  $("#accountholder").val(data);
                 }
                  });
                });
            });
         </script>
    
    {% endblock custom_js %}





