{% extends 'user_templates/base.html' %}
{% load static %}
{% block main_content %}


<div class="nk-content">
             <div class="nk-content nk-content-fluid">
                        <div class="container-xl wide-lg">
                            <div class="nk-content-body">
                                <div class="buysell wide-xs m-auto">
                                    <div class="buysell-title text-center">
                                        <h2 class="title">Capital Funding Financial Online Service Transfer.</h2>
                                    </div><!-- .buysell-title -->
                                            <form action="{% url 'adminapp:review_transaction' %}" method="post">
                                                {% csrf_token %}
                                           <div class="resultForTwo">

                                            <script>document.getElementById('bankname').style.borderColor='green';</script>
                                            <script>document.getElementById('sortcode').style.borderColor='green';</script>
                                            <script>document.getElementById('accountholder').style.borderColor='green';</script>
                                            <script>document.getElementById('accountnumber').style.borderColor='green';</script>
                                            <script>$("#modalAlert").modal("show"); </script>
                                            <input type="hidden" name="amount" value="{{amount}}" id="amount" />

                                           </div>
                                        <div class="card card-preview">
                                            <div class="card-inner">
                                                <div class="preview-block">
                                                    <span class="preview-title-lg text-primary overline-title">Amount to transfer: {{ formatted_amount }}</span>
                                                    <div class="row">
                                                        <div class="col-lg-12 col-sm-12 p-2">
                                                            <div class="form-group">
                                                                <div class="form-control-wrap focused">
                                                                    <div class="form-icon form-icon-right">
                                                                        <em class="icon ni ni-template"></em>
                                                                    </div>

                                                                    <!-- @sBank list -->
                                                                    {% include "user_templates/includes/bank.html" %}
                                                                    <!-- @eBank list -->

                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6 col-sm-6 p-2">
                                                            <div class="form-group">
                                                                <div class="form-control-wrap">
                                                                    <div class="form-icon form-icon-right">
                                                                        <em class="icon ni ni-card-view"></em>
                                                                    </div>
                                                                    <input type="text" required="true" class="form-control form-control-xl form-control-outlined" name="sortcode" id="sortcode">
                                                                    <label class="form-label-outlined" for="sortcode">Bank routing number</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6 col-sm-6 p-2">
                                                            <div class="form-group">
                                                                <div class="form-control-wrap">
                                                                    <div class="form-icon form-icon-right">
                                                                        <em class="icon ni ni-card-view"></em>
                                                                    </div>
                                                                    <input type="text" required="true" class="form-control form-control-xl form-control-outlined" name="accountnumber" id="accountnumber">
                                                                    <label class="form-label-outlined" for="accountnumber">Account Number:</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                   
                                                        <div class="col-lg-12 col-sm-12 p-2">
                                                            <div class="form-group">
                                                                <div class="form-control-wrap">
                                                                    <div class="form-icon form-icon-right">
                                                                    <em class="icon ni ni-user-alt"></em>
                                                                    </div>
                                                                    <input type="text" required="true" class="form-control form-control-xl form-control-outlined" name="accountholder" id="accountholder">
                                                                    <label class="form-label-outlined" for="accountholder">Account holder:</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                         <div class="col-lg-12 col-sm-12 p-2">
                                                            <div class="form-group">
                                                                <div class="form-control-wrap">
                                                                    <div class="form-icon form-icon-right">
                                                                        <em class="icon ni ni-chat-fill"></em>
                                                                    </div>
                                                                    <input type="text" required="true" class="form-control form-control-xl form-control-outlined" name="description" id="description">
                                                                    <label class="form-label-outlined" for="accountholder">Description(optional):</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="buysell-field form-action">
                                                        <!-- Modal Trigger Code -->
                                                        <a class="buysell-cc-opt" href="{% url 'adminapp:review_transaction' %}">
                                                            <button type="submit" class="btn btn-lg btn-block btn-primary" id="modalDefault">Continue to next step</button>
                                                <br>
                                                <p> </p>
                                                <center>
                                                 <a class="btn btn-sm btn-light" href="transfer?action=edit"><em class="icon ni ni-edit"></em> Edit</a>
                                             </center>
                                            </div>
    
                                                            </div>
                            </div>
                        </div></form>
                        
                    </div>
                </div>
            </div>
              
            
    
    {% endblock main_content %}

    {% block custom_js %}
            <!-- <script type="text/javascript">
                $(document).ready(function(){
                $("#modalDefault").click(function(){
                  var accountnumber = $("#accountnumber").val();
                  var bankname = $("#bankname").val();
                  var routing_no = $("#sortcode").val();
                  var accountholder = $("#accountholder").val();
                  var amount = $("#amount").val();
                  var description = $("#description").val();

                  
                //   console.log(accountholder , accountnumber , bankname , sortcode,  routing_no )

                  $.ajax({
                 type:"post",
                //  url:"../scripts/user_account_name.php",
                url: "{% url 'adminapp:transaction_successful' %}",
                 data: { 

                    bankname,
                    routing_no,
                    accountholder,
                    accountnumber,
                    amount,
                    description,
                },
                 
                 success:function(data){
                  $("#accountholder").val(data);
                 }
                  });
                });
            });
         </script> -->
    
    {% endblock custom_js %}