{% load static %}
<div id="sticky-wrapper" class="sticky-wrapper is-sticky" style="height: 137.406px;">
    <div class="bussiness-main-menu-1x" style="width: 1280px position: fixed; top: 0px;">	
    <div class="container">
        <div class="row">
<div class="col-md-12">		
    <div class="business-main-menu">		
        <nav class="navbar navbar-expand-lg navbar-light bg-light btco-hover-menu">
        <a class="navbar-brand" href="#">
            <img style="max-width:200px;" src="{% static 'account-assets/media/img/capital_logo.png' %}" class="d-inline-block align-top" alt="">
        </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
      
        <ul class="navbar-nav ml-auto business-nav">
            <li class="nav-item dropdown">
                    <a class="nav-link" href="#" id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Banking Services <i class="fa fa-angle-down"></i><span style="display: block;font-size: 11px;">Accounts &amp; services</span>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink2" style="width:100%;background-color: ##fff;">
                    
                    <div class="container">
                        <div class="business-services nav1">	
                            <div class="row">				
                                <div class="col-md-12 service-content">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="single-services">
                                                <div class="media">
                                                  <div class="media-body">
                                                    <a href="" class="menuhead">Current Accounts</a>
                                                        <li><a class="dropdown-item" href="{% url 'accounts:capitalfunding_account' %}">Capital Funding Account</a></li>
                                                        <li><a class="dropdown-item" href='{% url "accounts:advanced_account" %}'>Advance Account</a></li>
                                                        <li><a class="dropdown-item" href='{% url "accounts:student_account" %}'>Student Account</a></li>
                                                        <li><a class="dropdown-item" href='{% url "accounts:bank_account" %}'>Bank Account</a></li>
                                                  </div>
                                                </div>	
                                            </div>	
                                        </div>
                                        <div class="col-md-3">
                                            <div class="single-services">
                                                <div class="media">
                                                  <div class="media-body">
                                                    <a href="" class="menuhead">Savings</a>
                                                        <li><a class="dropdown-item" href="">ISAs</a></li>
                                                        <li><a class="dropdown-item" href="">Online Bonus Saver</a></li>
                                                        <li><a class="dropdown-item" href="">Flexible Saver</a></li>
                                                  </div>
                                                </div>	
                                            </div>	
                                        </div>
                                        <div class="col-md-3">
                                            <div class="single-services">
                                                <div class="media">
                                                  <div class="media-body">
                                                    <a href="" class="menuhead">Credit cards</a>
                                                        <li><a class="dropdown-item" href="">32 Month Transfer Credit Card</a></li>
                                                        <li><a class="dropdown-item" href="">Advance Credit Card</a></li>
                                                        <li><a class="dropdown-item" href="">Dual Credit Card</a></li>
                                                        <li><a class="dropdown-item" href="">Classic Credit Card</a></li>
                                                        <li><a class="dropdown-item" href="">Veritas Credit Card</a></li>
                                                        <li><a class="dropdown-item" href="">Veritas World Elite Mastercard</a></li>
                                                        <li><a class="dropdown-item" href="">Student Credit Card</a></li>
                                                  </div>
                                                </div>	
                                            </div>	
                                        </div>
                                        <div class="col-md-3">
                                            <div class="single-services">
                                                <div class="media">
                                                  <div class="media-body">
                                                    <a href="" class="menuhead">Services</a>
                                                        <li><a class="dropdown-item" href="">Ways to bank</a></li>
                                                        <li><a class="dropdown-item" href="">Voice ID</a></li>
                                                        <li><a class="dropdown-item" href="">Contact &amp; Support</a></li>
                                                        <li><a class="dropdown-item" href="">Find a Branch</a></li>
                                                        <a style="margin-top: 15px;" href="" class="menuhead">International services</a>
                                                        <li><a class="dropdown-item" href="">Currency Account</a></li>
                                                        <li><a class="dropdown-item" href="">International Payments</a></li>
                                                        <li><a class="dropdown-item" href="">Travel money</a></li>
                                                  </div>
                                                </div>	
                                            </div>	
                                        </div>
                                    </div>
                                </div>									
                            </div>
                        </div>
                    </div>                                     
                </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" href="" id="navbarDropdownMenuLink3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Borrowing <i class="fa fa-angle-down"></i><span style="display: block;font-size: 11px;">Loans &amp; mortgages</span>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink2" style="width:100%;background-color: ##fff;">
                    
                    <div class="container">
                        <div class="business-services nav2">	
                            <div class="row">				
                                <div class="col-md-12 service-content">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="single-services">
                                                <div class="media">
                                                  <div class="media-body">
                                                    <a href="" class="menuhead">Loans</a>
                                                        <li><a class="dropdown-item" href="">Personal Loan</a></li>
                                                        <li><a class="dropdown-item" href="">Car Loan</a></li>
                                                        <li><a class="dropdown-item" href="">Flexiloan</a></li>
                                                        <li><a class="dropdown-item" href="">Veritas Personal Loan</a></li>
                                                        <li><a class="dropdown-item" href="">Graduate Loan</a></li>
                                                  </div>
                                                </div>	
                                            </div>	
                                            <div class="single-services">
                                                <div class="media">
                                                  <div class="media-body">

                                                    <a href="#" class="menuhead">Overdrafts</a>

                                                    <a href="" class="menuhead">Overdrafts</a>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="single-services">
                                                <div class="media">
                                                  <div class="media-body">

                                                    <a href="#" class="menuhead">Mortgages</a>
                                                        <li><a class="dropdown-item" href="#">First time buyer</a></li>
                                                        <li><a class="dropdown-item" href="#">95% Mortgages</a></li>
                                                        <li><a class="dropdown-item" href="#">Remortgage</a></li>
                                                        <li><a class="dropdown-item" href="#">Buy to let</a></li>
                                                        <li><a class="dropdown-item" href="#">Existing homeowner</a></li>
                                                        <li><a class="dropdown-item" href="#">Mortgage rates</a></li>
                                                        <li><a class="dropdown-item" href="#">Armed Forces Personnel</a></li>

                                                    <a href="" class="menuhead">Mortgages</a>
                                                        <li><a class="dropdown-item" href="">First time buyer</a></li>
                                                        <li><a class="dropdown-item" href="">95% Mortgages</a></li>
                                                        <li><a class="dropdown-item" href="">Remortgage</a></li>
                                                        <li><a class="dropdown-item" href="">Buy to let</a></li>
                                                        <li><a class="dropdown-item" href="">Existing homeowner</a></li>
                                                        <li><a class="dropdown-item" href="">Mortgage rates</a></li>
                                                        <li><a class="dropdown-item" href="">Armed Forces Personnel</a></li>

                                                  </div>
                                                </div>	
                                            </div>	
                                        </div>
                                        <div class="col-md-3">
                                            <div class="single-services">
                                                <div class="media">
                                                  <div class="media-body">

                                                    <a href="#" class="menuhead">Credit cards</a>
                                                        <li><a class="dropdown-item" href="#">32 Month Transfer Credit Card</a></li>
                                                        <li><a class="dropdown-item" href="#">Advance Credit Card</a></li>
                                                        <li><a class="dropdown-item" href="#">Dual Credit Card</a></li>
                                                        <li><a class="dropdown-item" href="#">Classic Credit Card</a></li>
                                                        <li><a class="dropdown-item" href="#">Veritas Credit Card</a></li>
                                                        <li><a class="dropdown-item" href="#">Veritas World Elite Mastercard</a></li>
                                                        <li><a class="dropdown-item" href="#">Student Credit Card</a></li>

                                                    <a href="" class="menuhead">Credit cards</a>
                                                        <li><a class="dropdown-item" href="">32 Month Transfer Credit Card</a></li>
                                                        <li><a class="dropdown-item" href="">Advance Credit Card</a></li>
                                                        <li><a class="dropdown-item" href="">Dual Credit Card</a></li>
                                                        <li><a class="dropdown-item" href="">Classic Credit Card</a></li>
                                                        <li><a class="dropdown-item" href="">Veritas Credit Card</a></li>
                                                        <li><a class="dropdown-item" href="">Veritas World Elite Mastercard</a></li>
                                                        <li><a class="dropdown-item" href="">Student Credit Card</a></li>
                                                  </div>
                                                </div>	
                                            </div>	
                                        </div>
                                        <div class="col-md-3">
                                            <div class="single-services">
                                                <div class="media">
                                                  <div class="media-body">
                                                    <a href="#" class="menuhead">Services</a>
                                                        <li><a class="dropdown-item" href="#">Help &amp; Support</a></li>
                                                        <li><a class="dropdown-item" href="#">Money Worries</a></li>
                                                        <li><a class="dropdown-item" href="#">Find a Branch</a></li>
                                                
                                                        <a style="margin-top: 15px;" href="#" class="menuhead">Tools &amp; Guides</a>
                                                        <li><a class="dropdown-item" href="#">Overpayment calculator</a></li>
                                                        <li><a class="dropdown-item" href="#">Repayment calculator</a></li>
                                                        <li><a class="dropdown-item" href="#">Base rate information</a></li>

                                                    <a href="" class="menuhead">Services</a>
                                                        <li><a class="dropdown-item" href="">Help &amp; Support</a></li>
                                                        <li><a class="dropdown-item" href="">Money Worries</a></li>
                                                        <li><a class="dropdown-item" href="">Find a Branch</a></li>
                                                
                                                        <a style="margin-top: 15px;" href="" class="menuhead">Tools &amp; Guides</a>
                                                        <li><a class="dropdown-item" href="">Overpayment calculator</a></li>
                                                        <li><a class="dropdown-item" href="">Repayment calculator</a></li>
                                                        <li><a class="dropdown-item" href="">Base rate information</a></li>

                                                  </div>
                                                </div>	
                                            </div>	
                                        </div>		
                                    </div>
                                </div>									
                            </div>
                        </div>
                    </div>                                     
                </ul>
              </li>	

              <li class="nav-item dropdown">

                    <a class="nav-link" href="#" id="navbarDropdownMenuLink3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                    <a class="nav-link" href="" id="navbarDropdownMenuLink3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Investing <i class="fa fa-angle-down"></i><span style="display: block;font-size: 11px;">Products &amp; analysis</span>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink2" style="width:100%;background-color: ##fff;">
                    
                    <div class="container">
                        <div class="business-services nav3">	
                            <div class="row">				
                                <div class="col-md-12 service-content">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="single-services">
                                                <div class="media">
                                                  <div class="media-body">

                                                    <a href="#" class="menuhead">Investments</a>
                                                        <li><a class="dropdown-item" href="#">Investment funds</a></li>
                                                        <li><a class="dropdown-item" href="#">World Selection ISA</a></li>
                                                        <li><a class="dropdown-item" href="#">Sharedealing</a></li>
                                                        <li><a class="dropdown-item" href="#">Veritas Financial Advice</a></li>
                                                        <li><a class="dropdown-item" href="#">Stand-alone Investment Advice</a></li>
                                                        <li><a class="dropdown-item" href="#">Onshore Investment Bond</a></li>
                                                        <li><a class="dropdown-item" href="#">Child Trust fund</a></li>
                                                        <li><a class="dropdown-item" href="#">View all</a></li>

                                                    <a href="" class="menuhead">Investments</a>
                                                        <li><a class="dropdown-item" href="">Investment funds</a></li>
                                                        <li><a class="dropdown-item" href="">World Selection ISA</a></li>
                                                        <li><a class="dropdown-item" href="">Sharedealing</a></li>
                                                        <li><a class="dropdown-item" href="">Veritas Financial Advice</a></li>
                                                        <li><a class="dropdown-item" href="">Stand-alone Investment Advice</a></li>
                                                        <li><a class="dropdown-item" href="">Onshore Investment Bond</a></li>
                                                        <li><a class="dropdown-item" href="">Child Trust fund</a></li>
                                                        <li><a class="dropdown-item" href="">View all</a></li>

                                                  </div>
                                                </div>	
                                            </div>	
                                        </div>
                                        
                                        <div class="col-md-3">
                                            <div class="single-services">
                                                <div class="media">
                                                  <div class="media-body">

                                                    <a href="#" class="menuhead">Financial news &amp; analysis</a>

                                                    <a href="">Financial news &amp; analysis</a>

                                                  </div>
                                                </div>	
                                            </div>
                                            <div class="single-services">
                                                <div class="media">
                                                  <div class="media-body">

                                                    <a href="#" class="menuhead">Why invest with us?</a>
                                                    <li><a class="dropdown-item" href="#">Find out more</a></li>

                                                    <a href="" class="menuhead">Why invest with us?</a>
                                                    <li><a class="dropdown-item" href="">Find out more</a></li>

                                                  </div>
                                                </div>	
                                            </div>
                                            <div class="single-services">
                                                <div class="media">
                                                  <div class="media-body">
                                                    <a href="#" class="menuhead">Wealth Insights </a>

                                                    <a href="" class="menuhead">Wealth Insights </a>

                                                  </div>
                                                </div>	
                                            </div>	
                                        </div>
                                        <div class="col-md-3">
                                            <div class="single-services">
                                                <div class="media">
                                                  <div class="media-body">

                                                    <a href="#" class="menuhead">Global Investment Centre</a>
                                                        <li><a class="dropdown-item" href="#">Find out more</a></li>

                                                    <a href="" class="menuhead">Global Investment Centre</a>
                                                        <li><a class="dropdown-item" href="">Find out more</a></li>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>	
                                        <div class="col-md-3">
                                            <div class="single-services">
                                                <div class="media">
                                                  <div class="media-body">

                                                    <a href="#" class="menuhead">Customer support</a>
                                                        <li><a class="dropdown-item" href="#">Log on to Global Investment<br>Centre</a></li>
                                                        <li><a class="dropdown-item" href="#">Log on to Sharedealing</a></li>
                                                        <li><a class="dropdown-item" href="#">Investments contacts</a></li>
                                                        <li><a class="dropdown-item" href="#">Existing Selected Investments<br>Customers</a></li>
                                                        <li><a class="dropdown-item" href="#">Getting started with investing</a></li>
                                                        <li><a class="dropdown-item" href="#">View all</a></li>

                                                    <a href="" class="menuhead">Customer support</a>
                                                        <li><a class="dropdown-item" href="">Log on to Global Investment<br>Centre</a></li>
                                                        <li><a class="dropdown-item" href="">Log on to Sharedealing</a></li>
                                                        <li><a class="dropdown-item" href="">Investments contacts</a></li>
                                                        <li><a class="dropdown-item" href="">Existing Selected Investments<br>Customers</a></li>
                                                        <li><a class="dropdown-item" href="">Getting started with investing</a></li>
                                                        <li><a class="dropdown-item" href="">View all</a></li>

                                                  </div>
                                                </div>	
                                            </div>	
                                        </div>			
                                    </div>
                                </div>									
                            </div>
                        </div>
                    </div>                                     
                </ul>
              </li>	

              <li class="nav-item dropdown">

                    <a class="nav-link" href="#" id="navbarDropdownMenuLink3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                    <a class="nav-link" href="" id="navbarDropdownMenuLink3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                        Insurance <i class="fa fa-angle-down"></i><span style="display: block;font-size: 11px;">Property &amp; family</span>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink2" style="width:100%;background-color: ##fff;">
                    
                    <div class="container">
                        <div class="business-services nav4">	
                            <div class="row">				
                                <div class="col-md-12 service-content">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="single-services">
                                                <div class="media">
                                                  <div class="media-body">

                                                    <a href="#" class="menuhead">Insurance</a>
                                                        <li><a class="dropdown-item" href="#">Home Insurance</a></li>
                                                        <li><a class="dropdown-item" href="#">Travel Insurance</a></li>
                                                        <li><a class="dropdown-item" href="#">Student Insurance</a></li>
                                                        <li><a class="dropdown-item" href="#">View all</a></li>

                                                    <a href="" class="menuhead">Insurance</a>
                                                        <li><a class="dropdown-item" href="">Home Insurance</a></li>
                                                        <li><a class="dropdown-item" href="">Travel Insurance</a></li>
                                                        <li><a class="dropdown-item" href="">Student Insurance</a></li>
                                                        <li><a class="dropdown-item" href="">View all</a></li>

                                                  </div>
                                                </div>	
                                            </div>	
                                        </div>
                                        
                                        <div class="col-md-3">
                                            <div class="single-services">
                                                <div class="media">
                                                  <div class="media-body">

                                                    <a href="#" class="menuhead">Life Insurance</a>
                                                    <li><a class="dropdown-item" href="#">Life Cover</a></li>
                                                    <li><a class="dropdown-item" href="#">Critical Illness Cover</a></li>
                                                    <li><a class="dropdown-item" href="#">Income Cover</a></li>
                                                    <li><a class="dropdown-item" href="#">Telephone Protection Advice</a></li>
                                                    <li><a class="dropdown-item" href="#">View all</a></li>

                                                    <a href="" class="menuhead">Life Insurance</a>
                                                    <li><a class="dropdown-item" href="">Life Cover</a></li>
                                                    <li><a class="dropdown-item" href="">Critical Illness Cover</a></li>
                                                    <li><a class="dropdown-item" href="">Income Cover</a></li>
                                                    <li><a class="dropdown-item" href="">Telephone Protection Advice</a></li>
                                                    <li><a class="dropdown-item" href="">View all</a></li>

                                                  </div>
                                                </div>	
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="single-services">
                                                <div class="media">
                                                  <div class="media-body">

                                                    <a href="#" class="menuhead">Insurance Claims</a>
                                                        <li><a class="dropdown-item" href="#">Home Insurance Claims</a></li>
                                                        <li><a class="dropdown-item" href="#">Travel Insurance Claims</a></li>
                                                        <li><a class="dropdown-item" href="#">Car Insurance Claims</a></li>

                                                    <a href="" class="menuhead">Insurance Claims</a>
                                                        <li><a class="dropdown-item" href="">Home Insurance Claims</a></li>
                                                        <li><a class="dropdown-item" href="">Travel Insurance Claims</a></li>
                                                        <li><a class="dropdown-item" href="">Car Insurance Claims</a></li>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>	
                                        <div class="col-md-3">
                                            <div class="single-services">
                                                <div class="media">
                                                  <div class="media-body">

                                                    <a href="#" class="menuhead">Veritas Customers</a>
                                                        <li><a class="dropdown-item" href="#">Travel Insurance Claims</a></li>
                                                        <li><a class="dropdown-item" href="#">Car Insurance Claims</a></li>

                                                    <a href="" class="menuhead">Veritas Customers</a>
                                                        <li><a class="dropdown-item" href="">Travel Insurance Claims</a></li>
                                                        <li><a class="dropdown-item" href="">Car Insurance Claims</a></li>

                                                  </div>
                                                </div>	
                                            </div>	
                                        </div>			
                                    </div>
                                </div>									
                            </div>
                        </div>
                    </div>                                     
                </ul>
              </li>
                
                <li class="nav-item dropdown">

                    <a class="nav-link" href="#" id="navbarDropdownMenuLink3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                    <a class="nav-link" href="" id="navbarDropdownMenuLink3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Life events <i class="fa fa-angle-down"></i><span style="display: block;font-size: 11px;">Help &amp; support</span>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink2" style="width:100%;background-color: ##fff;">
                    
                    <div class="container">
                        <div class="business-services nav5">	
                            <div class="row">				
                                <div class="col-md-12 service-content">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="single-services">
                                                <div class="media">
                                                  <div class="media-body">

                                                    <a href="#" class="menuhead">Life events</a>
                                                        <li><a class="dropdown-item" href="#">Bereavement support</a></li>
                                                        <li><a class="dropdown-item" href="#">Separation support</a></li>
                                                        <li><a class="dropdown-item" href="#">Settling in the country</a></li>
                                                        <li><a class="dropdown-item" href="#">Getting married</a></li>
                                                        <li><a class="dropdown-item" href="#">Planning your retirement</a></li>
                                                        <li><a class="dropdown-item" href="#">Growing your wealth</a></li>
                                                        <li><a class="dropdown-item" href="#">Moving abroad</a></li>
                                                        <li><a class="dropdown-item" href="#">View all</a></li>
                                                    <a href="" class="menuhead">Life events</a>
                                                        <li><a class="dropdown-item" href="">Bereavement support</a></li>
                                                        <li><a class="dropdown-item" href="">Separation support</a></li>
                                                        <li><a class="dropdown-item" href="">Settling in the country</a></li>
                                                        <li><a class="dropdown-item" href="">Getting married</a></li>
                                                        <li><a class="dropdown-item" href="">Planning your retirement</a></li>
                                                        <li><a class="dropdown-item" href="">Growing your wealth</a></li>
                                                        <li><a class="dropdown-item" href="">Moving abroad</a></li>
                                                        <li><a class="dropdown-item" href="">View all</a></li>
                                                  </div>
                                                </div>	
                                            </div>	
                                        </div>
                                        
                                        <div class="col-md-3">
                                            <div class="single-services">
                                                <div class="media">
                                                  <div class="media-body">

                                                    <a href="#" class="menuhead">Planning tools</a>
                                                    <li><a class="dropdown-item" href="#">Financial health check</a></li>
                                                    <li><a class="dropdown-item" href="#">View All</a></li>

                                                    <a href="" class="menuhead">Planning tools</a>
                                                    <li><a class="dropdown-item" href="">Financial health check</a></li>
                                                    <li><a class="dropdown-item" href="">View All</a></li>

                                                  </div>
                                                </div>	
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="single-services">
                                                <div class="media">
                                                  <div class="media-body">
                                                    <a href="#" class="menuhead">Protecting what matters</a>
                                                        <li><a class="dropdown-item" href="#">Learn more</a></li>

                                                    <a href="" class="menuhead">Protecting what matters</a>
                                                        <li><a class="dropdown-item" href="">Learn more</a></li>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>	
                                        <div class="col-md-3">
                                            <div class="single-services">
                                                <div class="media">
                                                  <div class="media-body">

                                                    <a href="#" class="menuhead">Customer support</a>
                                                        <li><a class="dropdown-item" href="#">Ways we can help</a></li>
                                                        <li><a class="dropdown-item" href="#">Money Worries</a></li>
                                                        <li><a class="dropdown-item" href="#">Frequently asked questions</a></li>
                                                        <a style="margin-top: 15px;" href="#" class="menuhead">Individual Review</a>
                                                        <li><a class="dropdown-item" href="#">Book your review today for a<br>quick financial checkup</a></li>
                                                    <a href="" class="menuhead">Customer support</a>
                                                        <li><a class="dropdown-item" href="">Ways we can help</a></li>
                                                        <li><a class="dropdown-item" href="">Money Worries</a></li>
                                                        <li><a class="dropdown-item" href="">Frequently asked questions</a></li>
                                                        <a style="margin-top: 15px;" href="" class="menuhead">Individual Review</a>
                                                        <li><a class="dropdown-item" href="">Book your review today for a<br>quick financial checkup</a></li>
                                                  </div>
                                                </div>	
                                            </div>	
                                        </div>			
                                    </div>
                                </div>									
                            </div>
                        </div>
                    </div>                                     
                </ul>
              </li>
               
             </ul>	
          </div>
        </nav>
    </div>
</div>
</div>
</div>
</div></div>