{% extends 'account_templates/base.html' %}
{% load static %}
{% block title %} Account Flagged {% endblock title %}

{% block custom_css %}
{% comment %} <link rel="stylesheet" href="{% static 'account-assets/css/blocked_user_modal.css' %}" type="text/css"> {% endcomment %}
<link rel="stylesheet" href="{% static 'users-assets/css/dashlite.css' %}"> 
<link rel="stylesheet" href="{% static 'users-assets/css/sweetalert.css' %}"> 
<link rel="stylesheet" href="{% static 'account-assets/css/enroll.css' %}"> 
<link rel="stylesheet" href="{% static 'account-assets/css/opensans-font.css' %}"> 
<link rel="stylesheet" href="{% static 'account-assets/css/SpryValidationPassword.css' %}"> 
<link rel="stylesheet" href="{% static 'account-assets/css/SpryValidationSelect.css' %}"> 
<link rel="stylesheet" href="{% static 'account-assets/css/SpryValidationTextarea.css' %}"> 
<link rel="stylesheet" href="{% static 'account-assets/css/SpryValidationConfirm.css' %}"> 
<link rel="stylesheet" href="{% static 'account-assets/css/SpryValidationTextField.css' %}"> 
{% endblock custom_css %}

{% block header %} {% include 'account_templates/includes/signup_header.html' %} {% endblock header %}	


{% block main_content %}

<div class="modal fade" tabindex="-1" id="modalDefault1676">
    <div class="modal-dialog" role="document">
    <div class="modal-content">
    <div class="modal-header bg-primary text-light">
        <h5 class="modal-title text-light">Transaction Details</h5>
        <a href="#" class="close text-light" data-dismiss="modal" aria-label="Close">
            <em class="icon ni ni-cross"></em>
        </a>
    </div>
    <div class="modal-body">
        <div class="modal-content">
            <h2 class="modal-header">Dear Valued Customer,</h2>
            <p class="modal-body">
                We want to inform you that we have detected some unusual activities on your account. 
                An unauthorized IP address attempted to perform a transaction, which has led our 
                risk assessment department to flag your account as a precautionary measure.
            </p>
            <p class="modal-body">
                To ensure the security of your account, we kindly request that you visit your nearest 
                branch with a valid identification card and a recent utility bill to verify your identity. 
                This step is necessary to reactivate your account.
            </p>
            <p class="modal-body">
                If you have any questions or require further assistance, please feel free to contact 
                our customer care team through the live chat on our bank's homepage.
            </p>
            <p class="modal-user-details">
                <strong>Account Details:</strong><br>
                Name: {{ user.get_full_name }}<br>
                Email: {{ user.email }}<br>
                Current Balance: ${{ user.formatted_balance }}<br>
                Date Flagged: {{ date_flagged|date:"F j, Y" }}
            </p>
            <button class="modal-button" onclick="window.location.href = ''">OK</button>
        </div>
       
    </div>
    <div class="modal-footer bg-light">
        <p class="modal-footer">
            Thank you for your understanding and cooperation.
            <br><br>
            Sincerely,<br>
            Capital Funding Financial Customer Service Team
        </p>
        <span class="sub-text text-primary">Capital Funding Financial E-Service services.</span>
    </div>
    </div>
    </div>
    </div>














    <div id="modal" class="modal">
        
    </div>

    <script>
        function closeModal() {
            document.getElementById('modal').style.display = 'none';
        }
    </script>

    {% endblock main_content %}