{% extends 'account_templates/base.html' %}
{% load static %}

{% block main_content %}

<div class="business-main-slider">
	<div class="owl-carousel main-slider owl-loaded owl-drag">
        
    <div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(-2560px, 0px, 0px); transition: all 0s ease 0s; width: 6400px;"><div class="owl-item cloned" style="width: 1280px;"><div class="item creditbanner">			
			<div class="hvrbox">
				<img src="{% static 'account-assets/media/img/couple-dancing-kitchen.jpg' %}" alt="credit" class="hvrbox-layer_bottom">
			</div>	
			<div class="banner-content">
				<div class="innerBanner container">
					<h3>Bank Accounts</h3>
					<p>An everyday bank account with handy extras</p>
				</div>
			</div>		
        </div></div><div class="owl-item cloned" style="width: 1280px;"><div class="item creditbanner">			
			<div class="hvrbox">
				<img src="{% static 'account-assets/media/img/couple-dancing-kitchen.jpg' %}" alt="credit" class="hvrbox-layer_bottom">
			</div>	
			<div class="banner-content">
				<div class="innerBanner container">
					<h3>Bank Accounts</h3>
					<p>An everyday bank account with handy extras</p>
				</div>
			</div>		
        </div></div><div class="owl-item active" style="width: 1280px;"><div class="item creditbanner">			
			<div class="hvrbox">
				<img src="{% static 'account-assets/media/img/couple-dancing-kitchen.jpg' %}" alt="credit" class="hvrbox-layer_bottom">
			</div>	
			<div class="banner-content">
				<div class="innerBanner container">
					<h3>Bank Accounts</h3>
					<p>An everyday bank account with handy extras</p>
				</div>
			</div>		
        </div></div><div class="owl-item cloned" style="width: 1280px;"><div class="item creditbanner">			
			<div class="hvrbox">
				<img src="{% static 'account-assets/media/img/couple-dancing-kitchen.jpg' %}" alt="credit" class="hvrbox-layer_bottom">
			</div>	
			<div class="banner-content">
				<div class="innerBanner container">
					<h3>Bank Accounts</h3>
					<p>An everyday bank account with handy extras</p>
				</div>
			</div>		
        </div></div><div class="owl-item cloned" style="width: 1280px;"><div class="item creditbanner">			
			<div class="hvrbox">
				<img src="{% static 'account-assets/media/img/couple-dancing-kitchen.jpg' %}" alt="credit" class="hvrbox-layer_bottom">
			</div>	
			<div class="banner-content">
				<div class="innerBanner container">
					<h3>Bank Accounts</h3>
					<p>An everyday bank account with handy extras</p>
				</div>
			</div>		
        </div></div></div></div><div class="owl-nav disabled"><div class="owl-prev">prev</div><div class="owl-next">next</div></div><div class="owl-dots disabled"><div class="owl-dot active"><span></span></div></div></div>	
</div>
<div class="card-detail-wr">
	<div class="container">
		<div class="cardWr row">
			<div class="col-sm-8 leftwr">
				<div class="col-sm-12" style="margin-bottom: 15px;">
					<p>Current Accounts</p>
					<h2>Bank Bank Account</h2>
					<img src="{% static 'account-assets/media/img/visa.png' %}" style="width:250px; height: 170px;">
				</div>
				<div class="col-sm-12">	
					<p>Get a hassle-free bank account and manage your money 24/7 online or over the phone.</p>
					<ul>
						<li><span class="firstspan"><i class="fa fa-check" aria-hidden="true"></i></span><span class="secondspan">Simple bill payments by Direct and standing order</span></li>
						<li><span class="firstspan"><i class="fa fa-check" aria-hidden="true"></i></span><span class="secondspan">Cash withdrawals up to $300 per day</span></li>
						<li><span class="firstspan"><i class="fa fa-check" aria-hidden="true"></i></span><span class="secondspan">Available overdraft service, subject to status</span></li>
						<li><span class="firstspan"><i class="fa fa-check" aria-hidden="true"></i></span><span class="secondspan">See your accounts from different banks together in one place with our&nbsp;<a href="https://veritasfinancial.cc/bank-accounts#">Connected Money</a>&nbsp;app<sup><a href="https://veritasfinancial.cc/bank-accounts#terms">1</a> <a href="https://veritasfinancial.cc/bank-accounts#terms">2</a></sup></span></li>
					</ul>
				</div>
				
				<div class="readmoreWr col-sm-12">
					<a href="https://veritasfinancial.cc/bank-accounts#" class="bussiness-btn-larg">Apply now for a sole account</a>
					<a href="https://veritasfinancial.cc/bank-accounts#" class="bussiness-btn-larg">Apply now for a joint account</a>
				</div>
			</div>
			<div class="col-sm-4 rightwr">
				<div class="col-sm-12 variableper">
					<p>Switch your current account in a simple, reliable and stress-free way in only 7 working days.</p>
				</div>
				
				<div class="col-sm-12 variableper">
					<p><img src="{% static 'account-assets/media/img/dual-cass-moneyfacts.png' %}" alt=""></p>
				</div>
			</div>
		</div>

		<div class="inner-card-wr listwr">
			<p>Apply for an Bank Bank Account today:</p>
			<a class="toggleclass" href="https://veritasfinancial.cc/bank-accounts#" data-toggle="collapse" data-target="#demo10">Are you eligible?</a>
			<div id="demo10" class="collapse">
				<ul>
					<li><i class="fa fa-check" aria-hidden="true"></i>You need to be 18 years or older</li>		
					<li><i class="fa fa-check" aria-hidden="true"></i>Your residential address must be within the EU</li>	
					<li><i class="fa fa-check" aria-hidden="true"></i>You must be able to provide us with <a href="https://veritasfinancial.cc/bank-accounts#">certified proof of your identity and address</a> (translated into English if appropriate)</li>
					<li><i class="fa fa-check" aria-hidden="true"></i>You must pay at least $500 a month (or $3,000 over 6 months) into the account (does not apply if you are under 24 or over 65 years old)</li>	
					<li><i class="fa fa-check" aria-hidden="true"></i>If you are resident in the country, you are happy for us to undertake a <a href="https://veritasfinancial.cc/bank-accounts#%22%22">credit register search</a> (PDF)</li>		
				</ul>
				<p><strong>Things to remember before applying:</strong></p>
				<ul>
					<li><i class="fa fa-check" aria-hidden="true"></i>If you are liable to pay tax in any country outside of the EU you must apply in branch</li>		
					<li><i class="fa fa-check" aria-hidden="true"></i>Residents in Jersey, Guernsey or the Isle of Man please visit your local branch</li>	
					<li><i class="fa fa-check" aria-hidden="true"></i>If applying in branch all parties will need to be present</li>	
				</ul>
			</div>
		</div>

		<div class="card-single-wr helpyou">
			<h2>How Bank Bank Account can help you</h2>
			<div class="inner-card-wr">
				<div class="col-sm-12">
					<span class="icon-content">
						<h3>Overdraft service</h3>
						<p>You can arrange an overdraft on your bank account, subject to your credit status. Use our overdraft calculator to understand how much interest you will pay when you use your overdraft. For full details of our overdraft rates and charges see <a href="https://veritasfinancial.cc/bank-accounts#">our price list.</a></p>
					</span>
				</div>
				<div class="col-sm-12">
					<span class="icon-content">
						<h3>Lending options to suit you</h3>
						<p>Enjoy the freedom to do more with an Bank Credit Card or Personal Loan, subject to status.</p>
					</span>
				</div>
				<div class="col-sm-12">
					<span class="icon-content">
						<h3>Stress free switching</h3>
						<p>The Current Account Switch Service is simple, stress-free and supported by our dedicated switching team.</p>
					</span>
				</div>
				<div class="col-sm-12">
					<span class="icon-content">
						<h3>Bank Visa Debit card</h3>
						<ul>
							<li>Visa offers</li>
							<li>Contactless functionality</li>
							<li>Available to use in 160 countries<sup><a href="https://veritasfinancial.cc/bank-accounts#terms">3</a></sup></li>
						</ul>
					</span>
				</div>
				<div class="col-sm-12">
					<span class="icon-content">
						<h3>Everyday banking</h3>
						<p class="A-PAR16R-RW-ALL">Choose how you want to bank either by <a href="https://veritasfinancial.cc/bank-accounts#" target="_self">online</a>, <a href="https://veritasfinancial.cc/bank-accounts#" target="_self">mobile</a> or <a href="https://veritasfinancial.cc/bank-accounts#" target="_self">telephone banking</a><a href="https://veritasfinancial.cc/bank-accounts#"><sup>4</sup></a>. You can check your balance, pay bills or make payments to family and friends.</p>
					</span>
				</div>
			</div>
		</div>

		<div class="card-singlw-wr">
		<p class="A-PAR16R-RW-ALL"><span style="font-size: 0.875rem; font-variant-ligatures: inherit; font-variant-caps: inherit; background-color: transparent;">1. For Bank US 	customers only with Online Service &amp; iPhone, iOS 10 or above.&nbsp;</span>
			</p>
			<p class="A-PAR14R-RW-ALL">2. Apple and iPhone are trademarks of Apple Inc. registered in the U.S and other countries.&nbsp;</p>
			<p class="A-PAR14R-RW-ALL">3. Using your Debit Card abroad: The exchange rate that applies to any foreign currency debit card payments (including cash withdrawals) is the Visa scheme exchange rate used by VISA on the day the conversion is made plus a Non-sterling transaction fee, which is currently 2.75% of the transaction amount (and for cash withdrawals &nbsp;a Cash Fee of 2% of the cash withdrawal (minimum: $1.75, maximum: $5)). We will make the conversion and deduct the payment from your account once we receive details of the payment from VISA, at the latest the next working day. Details of the current Visa scheme exchange rates are available at&nbsp;<a href="http://www.visaeurope.com/">www.visaeurope.com</a>.<br>
			</p>
			<p class="A-PAR14R-RW-ALL">4. Our telephone, online and mobile banking services are open 24 hours a day subject to scheduled maintenance periods. During busy periods calls may be transferred outside the country. Textphone is not available in the Channel Islands and Isle of Man. To help us continually improve our service, and in the interests of security, we may monitor and/or record your calls with us.&nbsp;</p>
			<p class="A-PAR16R-RW-ALL">&nbsp;</p>
		</div>

		<div class="card-single-wr">
			<h2>Apply for Bank Bank Account</h2>
			<div class="inner-card-wr lowerwr">
				<a class="toggleclass" href="https://veritasfinancial.cc/bank-accounts#" data-toggle="collapse" data-target="#demo9">Are you eligible?</a>
				<div id="demo9" class="collapse">
					<ul>
						<li><i class="fa fa-check" aria-hidden="true"></i>You need to be 18 years or older</li>		
						<li><i class="fa fa-check" aria-hidden="true"></i>Your residential address must be within the EU</li>	
						<li><i class="fa fa-check" aria-hidden="true"></i>You must be able to provide us with <a href="https://veritasfinancial.cc/bank-accounts#">certified proof of your identity and address</a> (translated into English if appropriate)</li>
						<li><i class="fa fa-check" aria-hidden="true"></i>You must pay at least $500 a month (or $3,000 over 6 months) into the account (does not apply if you are under 24 or over 65 years old)</li>	
						<li><i class="fa fa-check" aria-hidden="true"></i>If you are resident in the country, you are happy for us to undertake a <a href="https://veritasfinancial.cc/bank-accounts#">credit register search</a> (PDF)</li>		
					</ul>
					<p><strong>Things to remember before applying:</strong></p>
					<ul>
						<li><i class="fa fa-check" aria-hidden="true"></i>If you are liable to pay tax in any country outside of the EU you must apply in branch</li>		
						<li><i class="fa fa-check" aria-hidden="true"></i>Residents in Jersey, Guernsey or the Isle of Man please visit your local branch</li>	
						<li><i class="fa fa-check" aria-hidden="true"></i>If applying in branch all parties will need to be present</li>		
					</ul>
				</div>
				<div class="row logonwr">
					<div class="col-sm-6 applynow">
						<h3>Existing customers</h3>
						<p>Bank Current Account customers can book an appointment to apply in branch by calling 03457 404 404.</p>
						<p>From outside the country +44 1226 261 010.</p>
						<p>You'll need to bring identification and proof of your address.</p>
						<a href="https://veritasfinancial.cc/bank-accounts#" class="bussiness-btn-larg">Find your nearest branch</a>
					</div>
					<div class="col-sm-6 logon">
						<h3>New to Bank</h3>
						<p>It only takes a few minutes to apply online for a sole or joint Bank Account.</p>
						<p>EU residents living outside the country must apply in branch and all parties will need to be present.</p>
						<a href="https://veritasfinancial.cc/bank-accounts#" class="bussiness-btn-larg">Apply for a sole account</a>
						<a href="https://veritasfinancial.cc/bank-accounts#" class="bussiness-btn-larg">Apply for a joint account</a>
						
					</div>
				</div>

				<div class="card-single-wr">
					<h2>Things you should know</h2>
					<ul>
						<li>
							<a href="https://veritasfinancial.cc/bank-accounts#">
								<i class="fa fa-download" aria-hidden="true"></i>	Privacy Notice (PDF, 390KB)
							</a>
						</li>
						<li>
							<a href="https://veritasfinancial.cc/bank-accounts#">
								<i class="fa fa-download" aria-hidden="true"></i>	US FSCS Information Sheet and Exclusions List (PDF, 577KB)
							</a>
						</li>
						<li>
							<a href="https://veritasfinancial.cc/bank-accounts#">
								<i class="fa fa-download" aria-hidden="true"></i>Personal Banking Terms and Conditions (PDF, 564KB)

							</a>
						</li>
						<li>
							<a href="https://veritasfinancial.cc/bank-accounts#">
								<i class="fa fa-download" aria-hidden="true"></i>Charges and Additional Product Terms (PDF, 402KB)
							</a>
						</li>
						<li>
							<a href="https://veritasfinancial.cc/bank-accounts#">
								<i class="fa fa-download" aria-hidden="true"></i>Banking made easy (PDF, 218KB)
							</a>
						</li>
						<li>
							<a href="https://veritasfinancial.cc/bank-accounts#">
								<i class="fa fa-download" aria-hidden="true"></i>Getting started (the Bank Account welcome brochure) (PDF, 1.8MB)
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock main_content %}