{% extends 'account_templates/base.html' %}
{% load static %}

{% block main_content %}
<div class="business-main-slider">
	<div class="owl-carousel main-slider owl-loaded owl-drag">
        
    <div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(-2560px, 0px, 0px); transition: all 0.25s ease 0s; width: 8960px;"><div class="owl-item cloned" style="width: 1280px;"><div class="owl-nav disabled"><div class="owl-prev">prev</div><div class="owl-next">next</div></div></div><div class="owl-item cloned" style="width: 1280px;"><div class="owl-dots disabled"><div class="owl-dot active"><span></span></div></div></div><div class="owl-item active" style="width: 1280px;"><div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(-2560px, 0px, 0px); transition: all 0s ease 0s; width: 6400px;"><div class="owl-item cloned" style="width: 1280px;"><div class="item creditbanner">			
			<div class="hvrbox">
				<img src="{% static 'account-assets/media/img/family.jpg' %}" alt="credit" class="hvrbox-layer_bottom">
			</div>	
			<div class="banner-content">
				<div class="innerBanner container">
					<h3>Capital Funding Financial Account</h3>
					<p>Embrace your full life - When your life becomes about more than just you</p>
					<a href="" class="bussiness-btn-larg" style="margin-top: 17px;">Find out more</a>
				</div>
			</div>		
        </div></div><div class="owl-item cloned" style="width: 1280px;"><div class="item creditbanner">			
			<div class="hvrbox">
				<img src="{% static 'account-assets/media/img/family.jpg' %}" alt="credit" class="hvrbox-layer_bottom">
			</div>	
			<div class="banner-content">
				<div class="innerBanner container">
					<h3>Capital Funding Financial Account</h3>
					<p>Embrace your full life - When your life becomes about more than just you</p>
					<a href="" class="bussiness-btn-larg" style="margin-top: 17px;">Find out more</a>
				</div>
			</div>		
        </div></div><div class="owl-item active" style="width: 1280px;"><div class="item creditbanner">			
			<div class="hvrbox">
				<img src="{% static 'account-assets/media/img/family.jpg' %}" alt="credit" class="hvrbox-layer_bottom">
			</div>	
			<div class="banner-content">
				<div class="innerBanner container">
					<h3>Capital Funding Financial Account</h3>
					<p>Embrace your full life - When your life becomes about more than just you</p>
					<a href="" class="bussiness-btn-larg" style="margin-top: 17px;">Find out more</a>
				</div>
			</div>		
        </div></div><div class="owl-item cloned" style="width: 1280px;"><div class="item creditbanner">			
			<div class="hvrbox">
				<img src="{% static 'account-assets/media/img/family.jpg' %}" alt="credit" class="hvrbox-layer_bottom">
			</div>	
			<div class="banner-content">
				<div class="innerBanner container">
					<h3>Capital Funding Financial Account</h3>
					<p>Embrace your full life - When your life becomes about more than just you</p>
					<a href="" class="bussiness-btn-larg" style="margin-top: 17px;">Find out more</a>
				</div>
			</div>		
        </div></div><div class="owl-item cloned" style="width: 1280px;"><div class="item creditbanner">			
			<div class="hvrbox">
				<img src="{% static 'account-assets/media/img/family.jpg' %}" alt="credit" class="hvrbox-layer_bottom">
			</div>	
			<div class="banner-content">
				<div class="innerBanner container">
					<h3>Capital Funding Financial Account</h3>
					<p>Embrace your full life - When your life becomes about more than just you</p>
					<a href="" class="bussiness-btn-larg" style="margin-top: 17px;">Find out more</a>
				</div>
			</div>		
        </div></div></div></div></div><div class="owl-item" style="width: 1280px;"><div class="owl-nav disabled"><div class="owl-prev">prev</div><div class="owl-next">next</div></div></div><div class="owl-item" style="width: 1280px;"><div class="owl-dots disabled"><div class="owl-dot active"><span></span></div></div></div><div class="owl-item cloned" style="width: 1280px;"><div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(-2560px, 0px, 0px); transition: all 0s ease 0s; width: 6400px;"><div class="owl-item cloned" style="width: 1280px;"><div class="item creditbanner">			
			<div class="hvrbox">
				<img src="{% static 'account-assets/media/img/family.jpg' %}" alt="credit" class="hvrbox-layer_bottom">
			</div>	
			<div class="banner-content">
				<div class="innerBanner container">
					<h3>Capital Funding Financial Account</h3>
					<p>Embrace your full life - When your life becomes about more than just you</p>
					<a href="" class="bussiness-btn-larg" style="margin-top: 17px;">Find out more</a>
				</div>
			</div>		
        </div></div><div class="owl-item cloned" style="width: 1280px;"><div class="item creditbanner">			
			<div class="hvrbox">
				<img src="{% static 'account-assets/media/img/family.jpg' %}" alt="credit" class="hvrbox-layer_bottom">
			</div>	
			<div class="banner-content">
				<div class="innerBanner container">
					<h3>Capital Funding Financial Account</h3>
					<p>Embrace your full life - When your life becomes about more than just you</p>
					<a href="" class="bussiness-btn-larg" style="margin-top: 17px;">Find out more</a>
				</div>
			</div>		
        </div></div><div class="owl-item active" style="width: 1280px;"><div class="item creditbanner">			
			<div class="hvrbox">
				<img src="{% static 'account-assets/media/img/family.jpg' %}" alt="credit" class="hvrbox-layer_bottom">
			</div>	
			<div class="banner-content">
				<div class="innerBanner container">
					<h3>Capital Funding Financial Account</h3>
					<p>Embrace your full life - When your life becomes about more than just you</p>
					<a href="" class="bussiness-btn-larg" style="margin-top: 17px;">Find out more</a>
				</div>
			</div>		
        </div></div><div class="owl-item cloned" style="width: 1280px;"><div class="item creditbanner">			
			<div class="hvrbox">
				<img src="{% static 'account-assets/media/img/family.jpg' %}" alt="credit" class="hvrbox-layer_bottom">
			</div>	
			<div class="banner-content">
				<div class="innerBanner container">
					<h3>Capital Funding Financial Account</h3>
					<p>Embrace your full life - When your life becomes about more than just you</p>
					<a href="" class="bussiness-btn-larg" style="margin-top: 17px;">Find out more</a>
				</div>
			</div>		
        </div></div><div class="owl-item cloned" style="width: 1280px;"><div class="item creditbanner">			
			<div class="hvrbox">
				<img src="{% static 'account-assets/media/img/family.jpg' %}" alt="credit" class="hvrbox-layer_bottom">
			</div>	
			<div class="banner-content">
				<div class="innerBanner container">
					<h3>Capital Funding Financial Account</h3>
					<p>Embrace your full life - When your life becomes about more than just you</p>
					<a href="" class="bussiness-btn-larg" style="margin-top: 17px;">Find out more</a>
				</div>
			</div>		
        </div></div></div></div></div><div class="owl-item cloned" style="width: 1280px;"><div class="owl-nav disabled"><div class="owl-prev">prev</div><div class="owl-next">next</div></div></div></div></div><div class="owl-nav disabled"><div class="owl-prev">prev</div><div class="owl-next">next</div></div><div class="owl-dots"><div class="owl-dot active"><span></span></div><div class="owl-dot"><span></span></div><div class="owl-dot"><span></span></div></div></div>	
</div>

<div class="card-detail-wr">
	<div class="container">
		<div class="card-single-wr" style="border-top: none;">
			<h2>When your life becomes about more than just you</h2>
			<p>In today’s world, your life is full of more responsibilities and more choices to make, as well as more opportunities and more dreams to fulfil. From helping you manage the unexpected surprises life can throw your way to nurturing the prosperity of your family and planning for the future, Capital Financial Union Capital is designed to help you thrive, all for no monthly fee. <a href="">Eligibility criteria apply</a></p>
		</div>
	</div>
	<div class="business-features-3x" style="margin-top: 60px;">
		<div class="colourful-features-content">				
			<div class="row">					
				<div class="col-md-3 no-padding">				
					<div class="single-colorful-feature feature-color-1">
						<h2><a href="">Your day-to-day banking<i class="fa fa-angle-right" aria-hidden="true"></i></a></h2>
						<p>Enjoy access to products designed for you.</p>	
						<ul>
							<li><a href="">Capital Capital Financial Union Account <i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
							<li><a href="">Capital Credit Cards <i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
							<li><a href="">Regular Savings Account <i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
						</ul>
					</div>									
				</div>					
				<div class="col-md-3 no-padding">				
					<div class="single-colorful-feature feature-color-2">
						<h2><a href="">Guidance for today and tomorrow<i class="fa fa-angle-right" aria-hidden="true"></i></a></h2>
						<p>Financial expertise for you and your family.</p>	
						<ul>
							<li><a href="">Relationship Management <i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
							<li><a href="">Capital Financial Advice <i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
							<li><a href="">World Selection ISA <i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
						</ul>
					</div>									
				</div>					
				<div class="col-md-3 no-padding">				
					<div class="single-colorful-feature feature-color-3">
						<h2><a href="">Your home and family<i class="fa fa-angle-right" aria-hidden="true"></i></a></h2>
						<p>Enjoy benefits that extend to your family and home.</p>	
						<ul>
							<li><a href="">Capital Mortgages Service <i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
							<li><a href="">Capital Children's Accounts <i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
							<li><a href="">Capital Financial Union Global Safety Net <i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
						</ul>
					</div>									
				</div>					
				<div class="col-md-3 no-padding">				
					<div class="single-colorful-feature feature-color-4">
						<h2><a href="">Travelling and banking worldwide<i class="fa fa-angle-right" aria-hidden="true"></i></a></h2>
						<p>Helping you thrive around the world.</p>	
						<ul>
							<li><a href="">Worldwide Travel Insurance <i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
							<li><a href="">Moving Overseas <i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
							<li><a href="">Global View and Transfers <i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
						</ul>
					</div>									
				</div>
			</div>		
		</div>
	</div>
	<div class="container">
		<div class="card-single-wr" style="border-top: none;">
			<h2>Eligibility criteria</h2>
			<div class="inner-card-wr">
				<p>Capital Financial Union Capital is available to you, if you pay your annual income into your Capital Financial Union Capital Capital Financial Union Account and have either:</p>
				<ul>
					<li><i class="fa fa-check" aria-hidden="true"></i> savings or investments of at least $50,000 with Capital Financial Union in the country; or</li>
					<li><i class="fa fa-check" aria-hidden="true"></i> an individual annual income of at least $75,000 and one of the following products with Capital Financial Union in the country:  a mortgage, investment, life insurance or protection product.</li>
				</ul>
				<p>Or if you’ve already qualified for Capital Financial Union Capital in another country.</p>
			</div>
		</div>

		<div class="card-single-wr">
			<div class="inner-card-wr lowerwr">
				<a class="toggleclass" href="" data-toggle="collapse" data-target="#demo">Please review our complete eligibility criteria before applying</a>
				<div id="demo" class="collapse">
					<h3 style="margin-top: 0;">Capital Financial Union Capital Capital Financial Union Account eligibility criteria </h3>
					<p>If you'd like to open an Capital Financial Union Capital Account, please ensure you fulfil all the following criteria:</p>
					<ul>
						<li><i class="fa fa-check" aria-hidden="true"></i>you are 18 years or older</li>		
						<li><i class="fa fa-check" aria-hidden="true"></i>your residential address is within the EU, or, if you live outside the EU, you can still apply for a Capital Financial Union Capital account subject to local rules and regulations and meeting the US proof of address</li>
						<li><i class="fa fa-check" aria-hidden="true"></i>you can provide us with certified proof of your identity and address and one month's Capital Financial Union statements from your current Capital Financial Union (translated into English if appropriate)</li>	
						<li><i class="fa fa-check" aria-hidden="true"></i>if you are resident in the country, you are happy for us to undertake a credit register search</li>
						<li><i class="fa fa-check" aria-hidden="true"></i>in order to qualify for lending, savings and travel insurance benefits and preferential rates you will need to be a US resident. This is subject to status and meeting Bank's proof of US address requirement</li>
					</ul>
					<p>For eligibility purposes, please note Capital Financial Union in the US excludes M&amp;S Bank, first direct and Capital Financial Union Expat. For the second criteria listed above (‘an individual annual income of at least $75,000 and one of the following products with Capital Financial Union in the country’), in the case of a joint account, at least one of the parties must have an individual annual income of at least $75,000. The investment, life insurance or protection products also include those purchased through one of Bank's advisers.</p>
					<h3>Capital Financial Union Capital Travel Insurance eligibility criteria </h3>
					<p>Are you under 70 years of age when your trip starts? Note: When you reach 70, you will no longer be covered by Capital Financial Union Capital Travel Insurance.</p>
					<p>Are you a resident of the country, Channel Islands or Isle of Man?</p>
					<p>Are you registered with a doctor in the country, Channel Islands or Isle of Man and liable to pay local taxes?</p>
					<p>Are you going to start and finish your trip in the country, Channel Islands or Isle of Man?</p>
					<p>Are there any dependent children aged under 18 at the start of the trip or under 23 if they are in full-time education and live with you outside term time? (Children will only be covered when travelling with the account holder or their domestic partner, or whilst travelling abroad on their own to visit and stay with close relatives for the duration of the trip.)</p>
					<p>You will need to call the Capital Financial Union Medical Risk Assessment Helpline on 0800 051 7457 before booking your trip if you or any insured person in the last 12 months has been prescribed medication, have received or are awaiting medical treatment, tests or investigations, been referred to a specialist or admitted to hospital for any condition not listed on the accepted conditions list in the Your Health section in the policy booklet. You should also tell us before you travel if there has been any changes to your health or you have been referred to a consultant/specialist or admitted to hospital.</p>
					<p>There is no cover for undiagnosed symptoms or any claim where you knew at the time of opening your Capital Financial Union Capital Capital Financial Union Account or booking your trip (whichever is later) that you or your travelling companion may be unable to travel or may need to come home early e.g. illness of a close relative or travel companion.</p>
					<p>Pre-existing conditions are not covered at any time under the policy unless listed within the accepted conditions list or have been disclosed to and accepted in writing by the Capital Financial Union Medical Risk Assessment Helpline.</p>
					<p>You must also declare any serious illness, injury or disease suffered by anyone whose health may cause you to cancel or abandon your travel plans, such as a close relative or travelling companion.</p>
					<p>Pre-existing medical conditions are not covered at any time under the policy unless they have been disclosed to and accepted in writing by the Capital Financial Union Medical Risk Assessment Helpline.</p>
				</div>
			</div>
		</div>
		<div class="inner-card-wr">
			<div class="card-single-wr">
				<h2>Apply for an Capital Financial Union Capital Capital Financial Union Account</h2>
				<p>If you meet the eligibility criteria above and are ready to enjoy the benefits of becoming an Capital Financial Union Capital customer, take the next step and contact us:</p>
				<div class="row logonwr">
					<div class="col-sm-4 applynow">
						<h3>Apply by phone</h3>
						<p>Call us on 0800 328 1296</p>
						<p>From outside the country: </p>
						<p>Lines are open 8am to 8pm weekdays and 10am to 3pm on Saturdays and Sundays (closed on Capital Financial Union Holidays).</p>
					</div>
					<div class="col-sm-4 logon">
						<h3>Apply in branch</h3>
						<p>You can apply for the Capital Financial Union Account by visiting one of our branches. You’ll just need to bring some identification, proof of your address and a recent Capital Financial Union statement.</p>
						<p>Existing Capital Financial Union customers:</p>
						<a href="" class="bussiness-btn-larg">Log on to book an appointment</a>
					</div>
					<div class="col-sm-4 logon">
						<h3>Existing Capital Financial Union Capital customers</h3>
						<p>For more information or telephone banking, please call:</p>
						<p>In the country: on CAL swift</p>
						<p>From outside the country: </p>
						<p>Lines are open 24 hours a day, subject to scheduled maintenance periods.</p>
					</div>
					<div class="col-sm-4 logon">
						<h3>Non Capital Financial Union customers:</h3>
						<a href="" class="bussiness-btn-larg">Continue without logging on</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock main_content %}