{% extends 'account_templates/base.html' %}
{% load static %}
{% block title %} Capital Funding Financial | Open an Account {% endblock title %}</title>
{% block custom_css %}
<link rel="stylesheet" href="{% static 'account-assets/css/enroll.css' %}"> 
<link rel="stylesheet" href="{% static 'account-assets/css/opensans-font.css' %}"> 
<link rel="stylesheet" href="{% static 'account-assets/css/SpryValidationPassword.css' %}"> 
<link rel="stylesheet" href="{% static 'account-assets/css/SpryValidationSelect.css' %}"> 
<link rel="stylesheet" href="{% static 'account-assets/css/SpryValidationTextarea.css' %}"> 
<link rel="stylesheet" href="{% static 'account-assets/css/SpryValidationConfirm.css' %}"> 
<link rel="stylesheet" href="{% static 'account-assets/css/SpryValidationTextField.css' %}"> 

{% endblock custom_css %}
{% block header %} {% include 'account_templates/includes/signup_header.html' %} {% endblock header %}	




    <!-- Main Content Starts -->
{% block main_content %}
<div class="business-main-slider">
<div class="owl-carousel main-slider owl-loaded owl-drag">
        
    <div class="owl-stage-outer">
        <div class="owl-stage" style="transform: translate3d(-2560px, 0px, 0px); transition: all 0s ease 0s; width: 6400px;">
        <div class="owl-item" style="width: 1280px;">
            <div class="item creditbanner">			
			<div class="hvrbox">
				<img src="{% static 'account-assets/media/img/online-reg.jpg' %}" alt="credit" class="hvrbox-layer_bottom">
			</div>	
			<div class="banner-content">
				<div class="innerBanner container">
					<h3>User Information</h3>
					<p>A bank with your needs in mind</p>
				</div>
			</div>		
        </div></div> 
        <div class="owl-item" style="width: 1280px;">
            <div class="item creditbanner">			
            <div class="hvrbox">
                <img src="{% static 'account-assets/media/img/online-reg.jpg' %}" alt="credit" class="hvrbox-layer_bottom">
            </div>	
            <div class="banner-content">
                <div class="innerBanner container">
                    <h3>User Information</h3>
                    <p>A bank with your needs in mind</p>
                </div>
            </div>		
        </div></div> 
        <div class="owl-item" style="width: 1280px;">
            <div class="item creditbanner">			
            <div class="hvrbox">
                <img src="{% static 'account-assets/media/img/online-reg.jpg' %}" alt="credit" class="hvrbox-layer_bottom">
            </div>	
            <div class="banner-content">
                <div class="innerBanner container">
                    <h3>User Information</h3>
                    <p>A bank with your needs in mind</p>
                </div>
            </div>		
        </div></div> 
        
    </div>
</div>
    </div></div>
    
</div>	
</div>

<div class="card-detail-wr">
	<div class="container">
	

		<div class="card-single-wr">
			
			<div class="tkl">
				<div class="tab">
				  <button class="tablinks" onclick="(event, 'London')">Online Registration</button>
				  <button class="tablinks" onclick="(event, 'Paris')">Terms &amp; Condition</button>
				  <button class="tablinks active" onclick="openCity(event, 'Tokyo')" id="defaultOpen">User Information</button>
				  <button class="tablinks" onclick="(event, 'Completed')">Completed</button>
				</div>
				
				</div>

				<div id="Tokyo" class="tabcontent" style="display: block;">
				  <div class="container">
					{{ msg }}

	 		<div class="row">
		<div class="form-v1-content">
			<div class="wizard-form">

			<!-- <form action="" class="form-register" method="post" enctype="multipart/form-data" id="acclogin"> -->
			<form class="form-register" method="post"  id="personForm" data-cities-url="{% url 'accounts:query_load_cities' %}" novalidate>
				{% csrf_token %} 
		        
		        	<div id="form-total">
		        		<!-- SECTION 1 -->
			             
			            <section style="width:100%; align:center; padding:10px;">
			                <div class="inner">
							
							<div class="errorMessage" align="center">&nbsp;</div>
							
			<div class="wizard-header">
				<h3 class="heading">Account Information</h3>
				<p>Please enter your information and proceed to the next step so we can build your accounts.  </p>
			</div>

			<h3 style="font-weight:700; color:#033d75;">Basic User information </h3>
			<div class="form-row">
				<div class="form-holder">
				<span id="sprytf_firstname">
					<fieldset>
						<legend>First Name</legend>
					{{form.firstname}}
					</fieldset>
						</span>
				</div>
				<div class="form-holder">
				<span id="sprytf_lastname">
					<fieldset>
						<legend>Last Name</legend>
					{{ form.lastname }}
					</fieldset>
					 <br>
						</span>
				</div>
			</div>
			<div class="form-row">
				<div class="form-holder">
				<span id="sprytf_firstname">
					<fieldset>
						<legend>Other name</legend>
					{{ form.middle_name }}
					</fieldset>
						</span>
			</div>
				<div class="form-holder">
				<span id="sprytf_lastname">
					<fieldset>
						<legend>Nick Name or Maiden name</legend>
					{{ form.nick_name }}
					</fieldset>
					 <br>
						</span>
				</div>
			</div>
				
	<div class="form-row">
		<div class="form-holder">
		<span id="sprytf_email">
			<fieldset>
				<legend>Your Email</legend>
			{{ form.email }}
			</fieldset>
			  <br>
				</span>
		</div>
	
		<div class="form-holder">
		<span id="sprytf_phone">
			<fieldset>
				<legend>Phone Number</legend>
			{{ form.phone_number}}
			</fieldset>
			 <br>
				</span>
		</div>
	</div>
		<div class="form-row">
		<div class="form-holder">
		<span id="sprytf_dob">
			<fieldset>
				<legend>Date of Birth</legend>
			{{ form.date_of_birth}}
			
			</fieldset>
			
			 <br>
				</span>
		</div>
		
		
		<div class="form-holder">
		<span id="sprytf_zip">
			<fieldset>
				<legend>Zipcode</legend>
			{{ form.zip_code }}
			</fieldset>
			  <br>
				</span>
		</div>
		
		
		
	</div>
	
		<div class="form-row">
			<div class="form-holder">
		 <span id="spryselect_gender">
				<legend>Title</legend>
				
	  <br>
		 {{ form.title }}
		</span>
		</div>
		<div class="form-holder">
		 <span id="spryselect_gender">
				<legend>Gender</legend>
				
				
	  <br>
	  {{ form.gender}}

		</span>
		</div>
	</div>		
	<div class="form-row-8">
			<div class="form-holder">

				<legend>Residential Address</legend>
	
			{{ form.residential_address}}

			<br>		
		</div>
	</div>
	
	
		<div class="form-row">			 
					 
	<div class="form-holder">
			<span>
			
				<legend>Country</legend>
					  
				{{ form.country }}				
				<br>
				</span>
		</div>
				
				
			<div class="form-holder">	
				<span>
			
				<legend>State</legend>
				
			<select required="" name="state" id="id_city">
					</select>
			<br>
				</span>
				            
		            </div>		
	          </div>
    	<div class="form-row">
		<div class="form-holder">
		<span id="sprytf_city">
			<fieldset>
				<legend>City Name</legend>
			{{ form.city}}
			</fieldset>
			 <br>
			</span>
		</div>
			<div class="form-holder">
			<span id="spryta_address">
			<fieldset>
				<legend>State Security Number(SSN, NI, SIN etc.)</legend>
			{{ form.ssn}}
			</fieldset>
			<br>
				</span>
		</div>
	</div>
	<div class="form-row">
	<div class="form-holder">
				<legend>Currency Type</legend>
				<span id="spryselect_acctype">
				{{ form.Currency_type }}
		  <br>
		</span>
		</div>
		<div class="form-holder" id="firstname">
				<legend>Account Type</legend>
				<span id="spryselect_acctype">	
				{{ form.account_type}}
		  <br>

		</span>
		</div>
	</div>
	<!-- <div class="firststepResult"></div> -->
	<button type="submit" class="firststep" style="width: 250px; height:50px; background-color: green; color: white; font-size: 19px;">continue </button>
	</div></section></div></form>
	<a style="padding-left: 20px;" href="{% url 'accounts:login' %}">Already registered?  Login Here</a>
	  <br><br><br><br>
	    </div>    
		   </div>       
			</div>


		
							</div>	
			</div> 
				</div>
      
			</div>

{% endblock main_content %}

<!-- Main Content Ends -->


{% block custom_js %}
			<script src="{% static 'account-assets/js/registration.js' %}"></script>
			<script type="text/javascript" src="{% static 'account-assets/js/amcharts.min.js' %}"></script> 
            <link rel="stylesheet" href="{% static 'account-assets/js/SpryValidationPassword.js' %}"> 
            <link rel="stylesheet" href="{% static 'account-assets/js/SpryValidationSelect.js' %}"> 
            <link rel="stylesheet" href="{% static 'account-assets/js/SpryValidationTextarea.js' %}"> 
            <link rel="stylesheet" href="{% static 'account-assets/js/SpryValidationConfirm.js' %}"> 
            <link rel="stylesheet" href="{% static 'account-assets/js/SpryValidationTextField.js' %}"> 

			<script>
				$("#id_country").change(function () {
				  var url = $("#personForm").attr("data-cities-url");  // get the url of the `load_cities` view
				  var countryId = $(this).val();  // get the selected country ID from the HTML input
			
				  $.ajax({                       // initialize an AJAX request
					url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
					data: {
					  'country_id': countryId       // add the country id to the GET parameters
					},
					success: function (data) {   // `data` is the return of the `load_cities` view function
					  console.log(data)
					  $("#id_city").html(data);  // replace the contents of the city input with the data that came from the server
					}
				  });
			
				});
			  </script>

             {% endblock custom_js %}