{% extends 'account_templates/base.html' %}
{% load static %}
{% block title %} Capital Funding Financial | Open an Account {% endblock title %}</title>
{% block custom_css %}
<link rel="stylesheet" href="{% static 'account-assets/css/enroll.css' %}"> 
<link rel="stylesheet" href="{% static 'account-assets/css/opensans-font.css' %}"> 
<link rel="stylesheet" href="{% static 'account-assets/css/SpryValidationPassword.css' %}"> 
<link rel="stylesheet" href="{% static 'account-assets/css/SpryValidationSelect.css' %}"> 
<link rel="stylesheet" href="{% static 'account-assets/css/SpryValidationTextarea.css' %}"> 
<link rel="stylesheet" href="{% static 'account-assets/css/SpryValidationConfirm.css' %}"> 
<link rel="stylesheet" href="{% static 'account-assets/css/SpryValidationTextField.css' %}"> 
{% endblock custom_css %}
{% block header %} {% include 'account_templates/includes/signup_header.html' %} {% endblock header %}	




    <!-- Main Content Starts -->
{% block main_content %}

<div class="business-main-slider">
    <div class="owl-carousel main-slider owl-loaded owl-drag">
            
        <div class="owl-stage-outer">
            <div class="owl-stage" style="transform: translate3d(-2560px, 0px, 0px); transition: all 0s ease 0s; width: 6400px;">
            <div class="owl-item" style="width: 1280px;">
                <div class="item creditbanner">			
                <div class="hvrbox">
                    <img src="{% static 'account-assets/media/img/step-4.jpg' %}" alt="credit" class="hvrbox-layer_bottom">
                </div>	
                <div class="banner-content">
                    <div class="innerBanner container">
                        <h3>User Information</h3>
                        <p>A bank with your needs in mind</p>
                    </div>
                </div>		
            </div></div> 
            <div class="owl-item" style="width: 1280px;">
                <div class="item creditbanner">			
                <div class="hvrbox">
                    <img src="{% static 'account-assets/media/img/step-4.jpg' %}" alt="credit" class="hvrbox-layer_bottom">
                </div>	
                <div class="banner-content">
                    <div class="innerBanner container">
                        <h3>User Information</h3>
                        <p>A bank with your needs in mind</p>
                    </div>
                </div>		
            </div></div> 
            <div class="owl-item" style="width: 1280px;">
                <div class="item creditbanner">			
                <div class="hvrbox">
                    <img src="{% static 'account-assets/media/img/step-4.jpg' %}" alt="credit" class="hvrbox-layer_bottom">
                </div>	
                <div class="banner-content">
                    <div class="innerBanner container">
                        <h3>User Information</h3>
                        <p>A bank with your needs in mind</p>
                    </div>
                </div>		
            </div></div> 
            
        </div>
    </div>
        </div></div>
        
    </div>	
    </div>


    <div class="card-detail-wr">
        <div class="container">
        
    
            <div class="card-single-wr">
                
                <div class="tkl">
                    
                    <div class="tab">
                      <button class="tablinks" onclick="(event, &#39;London&#39;)">Online Registration</button>
                      <button class="tablinks" onclick="(event, &#39;Paris&#39;)">Terms &amp; Condition</button>
                      <button class="tablinks" onclick="(event, &#39;Tokyo&#39;)">User Information</button>
                      <button class="tablinks active" onclick="openCity(event, &#39;Completed&#39;)" id="defaultOpen">Completed</button>
                    </div>
                    
                    </div>
    
                    <div id="Completed" class="tabcontent" style="display: block;">
                      <div class="container">
    
         
                                  <div class="row align-content-center">
                        <div id="form-total">
                            <!-- SECTION 1 -->
                            <section style="width:100%; align:center; padding:10px;">
                                <div class="inner">
                              <div class="container ">			
                         <div class="wizard-header">
                      <h2 class="heading text-success">Account registration completed.</h2>
                                        <h4>
                      Dear {{user.get_full_name}},
              </h4>
              <p>
              Welcome aboard! Capital Funding Financial Union is the market  most innovative and fastest-growing company in the financial industry. We look forward to working with you to help you get the most out of our financial services and realize your banking goals.
              </p>
              Here at Capital Funding Financial Union, we are committed to providing wide variety of savings, investment and loan products, all designed to meet your specific needs. Our services are being used by over two million customers around the world. We hope that we’ll live up to your expectations.
              <p>
              Our excellent customer support team is available 24 hours every day to help you with any questions. You can contact them at:<br> <a class="text-success" href="mailto:capitalfundfinance@capitalfundfinance.com">capitalfundfinance@capitalfundfinance.com</a> or<br> <a class="text-success no-link" href="tel:+1 (612) 567-2940" role="presentation">+1 (612) 567-2940</a>.
              </p>
              <p>
              Your satisfaction is a priority for us, so feel free to share any feedback you have – we take your opinion seriously and will do our best to implement solutions for you.
              </p>
              <p>
                            </p>
                </div>
                </div>
        </div>
            </section>
            </div>
        </div>
                    </div>	
                </div> 
                    </div>
          <script>
                        function openCity(evt, cityName) {
                            var i, tabcontent, tablinks;
                            tabcontent = document.getElementsByClassName("tabcontent");
                            for (i = 0; i < tabcontent.length; i++) {
                                tabcontent[i].style.display = "none";
                            }
                            tablinks = document.getElementsByClassName("tablinks");
                            for (i = 0; i < tablinks.length; i++) {
                                tablinks[i].className = tablinks[i].className.replace(" active", "");
                            }
                            document.getElementById(cityName).style.display = "block";
                            evt.currentTarget.className += " active";
                        }
    
                        // Get the element with id="defaultOpen" and click on it
                        document.getElementById("defaultOpen").click();
                    </script>
                </div>
    
    <!--content end-->

{% endblock main_content %}