{% extends 'account_templates/base.html' %}
{% load static %}
{% block title %} Capital Funding Financial | Open an Account {% endblock title %}</title>
{% block custom_css %}
<link rel="stylesheet" href="{% static 'account-assets/css/enroll.css' %}"> 
<link rel="stylesheet" href="{% static 'account-assets/css/opensans-font.css' %}"> 
<link rel="stylesheet" href="{% static 'account-assets/css/SpryValidationPassword.css' %}"> 
<link rel="stylesheet" href="{% static 'account-assets/css/SpryValidationSelect.css' %}"> 
<link rel="stylesheet" href="{% static 'account-assets/css/SpryValidationTextarea.css' %}"> 
<link rel="stylesheet" href="{% static 'account-assets/css/SpryValidationConfirm.css' %}"> 
<link rel="stylesheet" href="{% static 'account-assets/css/SpryValidationTextField.css' %}"> 
{% endblock custom_css %}
{% block header %} {% include 'account_templates/includes/signup_header.html' %} {% endblock header %}	

{% block main_content %}

<div class="business-main-slider">
    <div class="owl-carousel main-slider owl-loaded owl-drag">
            
        <div class="owl-stage-outer">
            <div class="owl-stage" style="transform: translate3d(-2560px, 0px, 0px); transition: all 0s ease 0s; width: 6400px;">
            <div class="owl-item" style="width: 1280px;">
                <div class="item creditbanner">			
                <div class="hvrbox">
                    <img src="{% static 'account-assets/media/img/step-4.jpg' %}" alt="credit" class="hvrbox-layer_bottom">
                </div>	
                <div class="banner-content">
                    <div class="innerBanner container">
                        <h3>User Information</h3>
                        <p>A bank with your needs in mind</p>
                    </div>
                </div>		
            </div></div> 
            <div class="owl-item" style="width: 1280px;">
                <div class="item creditbanner">			
                <div class="hvrbox">
                    <img src="{% static 'account-assets/media/img/step-4.jpg' %}" alt="credit" class="hvrbox-layer_bottom">
                </div>	
                <div class="banner-content">
                    <div class="innerBanner container">
                        <h3>User Information</h3>
                        <p>A bank with your needs in mind</p>
                    </div>
                </div>		
            </div></div> 
            <div class="owl-item" style="width: 1280px;">
                <div class="item creditbanner">			
                <div class="hvrbox">
                    <img src="{% static 'account-assets/media/img/step-4.jpg' %}" alt="credit" class="hvrbox-layer_bottom">
                </div>	
                <div class="banner-content">
                    <div class="innerBanner container">
                        <h3>User Information</h3>
                        <p>A bank with your needs in mind</p>
                    </div>
                </div>		
            </div></div> 
            
        </div>
    </div>
        </div></div>
        
    </div>	
    </div>

    <div class="card-detail-wr">
        <div class="container">
        
    
            <div class="card-single-wr">
                
                <div class="tkl">
                    
                    <div class="tab">
                      <button class="tablinks" onclick="(event, &#39;London&#39;)">Online Registration</button>
                      <button class="tablinks" onclick="(event, &#39;Paris&#39;)">Terms &amp; Condition</button>
                      <button class="tablinks active" onclick="openCity(event, &#39;Tokyo&#39;)" id="defaultOpen">User Information</button>
                      <button class="tablinks" onclick="(event, &#39;Completed&#39;)">Completed</button>
                    </div>
                    
                    </div>
    
                    <div id="Tokyo" class="tabcontent" style="display: block;">
                      <div class="container">
    
         
                 <div class="row">
            <div class="form-v1-content">
                <div class="wizard-form">
                    {{msg}}
                <form action="" class="form-register" method="post" enctype="multipart/form-data" id="acclogin">
				{% csrf_token %}  
                    
                        <div id="form-total">
                            <!-- SECTION 1 -->
                             
                            <section style="width:100%; align:center; padding:10px;">
                                <div class="inner">
                                
                                <div class="errorMessage" align="center">&nbsp;</div>
                                
                <div class="wizard-header">
                    <h3 class="heading">Account Information</h3>
                    <p>Please enter your information and proceed to the next step so we can continue building your account.  </p>
                </div>
                <h3 style="font-weight:700; color:Purple;">Employment Information (Incase of Loan/Facility)</h3>
        
        
    
                    <div class="form-row">
                    <div class="form-holder">
                    
                     <legend>Type of Employment</legend>
                     {{ form.employment_type}}
                        <br>
                        {% if form.employment_type.errors %}
                            {% for error in form.employment_type.errors %}
                                <p class="text-warning">{{ error }}</p>
                            {% endfor %}
                        {% endif %}
                        
                    </div>
            <div class="form-holder">
                     <legend>Annual income Range</legend>
                      {{ form.salary_range }}
                        
                         <br>
                         {% if form.salary_range.errors %}
                            {% for error in form.salary_range.errors %}
                                <p class="text-warning">{{ error }}</p>
                            {% endfor %}
                        {% endif %}
                </div>
                
                </div>
                
                
             <h3 style="font-weight:700; color:green;">Registered Next of Kin</h3>
                                
                
        <div class="form-row">
            <div class="form-holder">
            <span>
                <fieldset>
                    <legend>Beneficiary Legal Name</legend>
                    {{ form.beneficiary_legal_name }}
                </fieldset>
                {% if form.beneficiary_legal_name.errors %}
                            {% for error in form.beneficiary_legal_name.errors %}
                                <p class="text-warning">{{ error }}</p>
                            {% endfor %}
                        {% endif %}
                </span>
                  <br>
            </div>
        </div>
         <div class="form-row-8">
                <div class="form-holder">
                    <span>
                        {{ form.nok_address}}
                </span>
                {% if form.nok_address.errors %}
                        {% for error in form.nok_address.errors %}
                            <p class="text-warning">{{ error }}</p>
                        {% endfor %}
                    {% endif %}
                 <br>
                    </div></div>
             <div class="form-row">
                    <div class="form-holder">
                     <legend>Please select Relationship</legend>
                        {{ form.nok_relationship}}
                        <br>
                        {% if form.nok_relationship.errors %}
                            {% for error in form.nok_relationship.errors %}
                                <p class="text-warning">{{ error }}</p>
                            {% endfor %}
                        {% endif %}
                    </div>
                    
            <div class="form-holder">
            <span>
                     <legend>Please select Age</legend>
                     {{ form.nok_age}}
                         <br>
                         {% if form.nok_age.errors %}
                            {% for error in form.nok_age.errors %}
                                <p class="text-warning">{{ error }}</p>
                            {% endfor %}
                        {% endif %}
                </div>
                
                </div>
                
             <h3 style="font-weight:700; color:red;">Security Details</h3>
                            
            <div class="form-row">
                    <div class="form-holder">
                    <span id="sprypwd"> 
                        <fieldset>
                            <legend>Password</legend>
                            {{ form.password}}
                            <!-- <input type="password" class="form-control" id="password" name="password" autocomplete="off" placeholder="Account Password" required=""> -->
                        </fieldset>
                        {% if form.password.errors %}
                            {% for error in form.password.errors %}
                                <p class="text-warning">{{ error }}</p>
                            {% endfor %}
                        {% endif %}
                        <br>
                        </span>
                    </div>
                    <div class="form-holder">
                    <span id="sprycpwd"> 
                        <fieldset>
                            <legend>Confirm Password</legend>
                            {{ form.password1}}
                            <!-- <input type="password" class="form-control" id="cpassword" name="cpassword" autocomplete="off" placeholder="Confirm A/C Password" required=""> -->
                        </fieldset>
                        {% if form.password1.errors %}
                            {% for error in form.password1.errors %}
                                <p class="text-warning">{{ error }}</p>
                            {% endfor %}
                        {% endif %}
                        <br>
                        </span>
                    </div>
                </div>
            <div class="form-row">
                <div class="form-holder">
                <span id="sprytf_pin">
                    <fieldset>
                        <legend>2FA PIN</legend>
                        {{ form.PIN}}
                        <!-- <input type="number" class="form-control" id="secretCode" autocomplete="off" name="secretCode" placeholder="Account PIN" required=""> -->
                    </fieldset>
                    {% if form.PIN.errors %}
                            {% for error in form.PIN.errors %}
                                <p class="text-warning">{{ error }}</p>
                            {% endfor %}
                        {% endif %}
                     <br>
                        </span>
                </div>
            </div>
            <div class="form-row">
            <div class="form-holder">
             <legend>Select Security Question One</legend>
             {{ form.sq1_select}}
            </div>
            <div class="form-holder">
                    <fieldset>
                        <legend>Answer Question One</legend>
                        {{ form.sq1_answer}}
                    </fieldset>
                     <br>
                    
                </div>
        </div>	
            <div class="form-row">
            <div class="form-holder">
            <span>
             <legend>Select Security Question Two</legend>
             {{ form.sq2_select}}
                        </span>
                        
                        <br>
            </div>
            <div class="form-holder">
                    <fieldset>
                        <legend>Answer Question Two</legend>
                        {{form.sq2_answer}}
                    </fieldset>
                     <br>
                </div>
        </div>
        <div class="secondstepResult"></div>
                <button type="submit" class="secondstep" style="width:250px; height:50px; background-color: green; color: white;"> continue</button>
      
        </div><a href="{% url 'accounts:login' %}">Already registered?  Login Here</a></section></div>
        
    </form>
          <br><br><br><br>
        </div>   
        </div>      
                </div>
                {% block custom_js %}
			<script src="{% static 'account-assets/js/registration.js' %}"></script>
			<script type="text/javascript" src="{% static 'account-assets/js/amcharts' %}"></script> 
			<link rel="stylesheet" href="{% static 'account-assets/js/enroll.css' %}"> 
            <link rel="stylesheet" href="{% static 'account-assets/js/opensans-font.css' %}"> 
            <link rel="stylesheet" href="{% static 'account-assets/js/SpryValidationPassword.js' %}"> 
            <link rel="stylesheet" href="{% static 'account-assets/js/SpryValidationSelect.js' %}"> 
            <link rel="stylesheet" href="{% static 'account-assets/js/SpryValidationTextarea.js' %}"> 
            <link rel="stylesheet" href="{% static 'account-assets/js/SpryValidationConfirm.js' %}"> 
            <link rel="stylesheet" href="{% static 'account-assets/js/SpryValidationTextField.js' %}"> 

             {% endblock custom_js %}
                <script type="text/javascript">
    
                $(document).ready(function () {
          $('.secondstep').click(function (e) {
          e.preventDefault();
          var occupation = $('#occupation').val();
          var income = $('#income').val(); 
          var password = $('#password').val();
          var cpassword = $('#cpassword').val();
          var next_kin = $('#next_kin').val();
          var next_address = $('#next_address').val();
          var next_relationship = $('#next_relationship').val();
          var next_age = $('#next_age').val();
          var secretCode = $('#secretCode').val();
          var csecretCode = $('#csecretCode').val();
          var securityquestion = $('#securityquestion').val();
          var answer = $('#answer').val();
          var securityquestion2 = $('#securityquestion2').val();
          var answer2 = $('#answer2').val(); 
    
          $.ajax
            ({
              type: "POST",
              url: "secondstep.php",
              data: { "occupation": occupation, "income": income, "password": password, "cpassword": cpassword, "next_kin": next_kin, "next_address": next_address, "next_relationship": next_relationship, "next_age": next_age, "secretCode": secretCode, "csecretCode": csecretCode, "securityquestion": securityquestion, "answer": answer, "securityquestion2": securityquestion2, "answer2": answer2},
              success: function (data) {
                $('.secondstepResult').html(data);
                $('#formPC')[0].reset();
              }
            });
          });
        });
                </script>
                                </div>	
                </div> 
                    </div>
          <script>
                        function openCity(evt, cityName) {
                            var i, tabcontent, tablinks;
                            tabcontent = document.getElementsByClassName("tabcontent");
                            for (i = 0; i < tabcontent.length; i++) {
                                tabcontent[i].style.display = "none";
                            }
                            tablinks = document.getElementsByClassName("tablinks");
                            for (i = 0; i < tablinks.length; i++) {
                                tablinks[i].className = tablinks[i].className.replace(" active", "");
                            }
                            document.getElementById(cityName).style.display = "block";
                            evt.currentTarget.className += " active";
                        }
    
                        // Get the element with id="defaultOpen" and click on it
                        document.getElementById("defaultOpen").click();
                    </script>
                </div>
    
    <!--content end-->



{% endblock main_content %}



