{% extends 'account_templates/base.html' %}
{% load static %}
{% block title %} Capital Funding Financial | Open an Account {% endblock title %}</title>
{% block header %} {% include 'account_templates/includes/signup_header.html' %} {% endblock header %}	
{% block custom_css %} <link rel="stylesheet" href="{% static 'account-assets/css/enroll.css' %}"> {% endblock custom_css %}

<!-- Main Content Starts -->
{% block main_content %}
<div class="business-main-slider">
<div class="owl-carousel main-slider owl-loaded owl-drag">
        
    <div class="owl-stage-outer">
        <div class="owl-stage" style="transform: translate3d(-2560px, 0px, 0px); transition: all 0s ease 0s; width: 6400px;">
        <div class="owl-item" style="width: 1280px;">
            <div class="item creditbanner">			
			<div class="hvrbox">
				<img src="{% static 'account-assets/media/img/online-reg.jpg' %}" alt="credit" class="hvrbox-layer_bottom">
			</div>	
			<div class="banner-content">
				<div class="innerBanner container">
					<h3>Open An Account</h3>
					<p>A bank with your needs in mind</p>
				</div>
			</div>		
        </div></div> 
        <div class="owl-item" style="width: 1280px;">
            <div class="item creditbanner">			
            <div class="hvrbox">
                <img src="{% static 'account-assets/media/img/online-reg.jpg' %}" alt="credit" class="hvrbox-layer_bottom">
            </div>	
            <div class="banner-content">
                <div class="innerBanner container">
                    <h3>Open An Account</h3>
                    <p>A bank with your needs in mind</p>
                </div>
            </div>		
        </div></div> 
        <div class="owl-item" style="width: 1280px;">
            <div class="item creditbanner">			
            <div class="hvrbox">
                <img src="{% static 'account-assets/media/img/online-reg.jpg' %}" alt="credit" class="hvrbox-layer_bottom">
            </div>	
            <div class="banner-content">
                <div class="innerBanner container">
                    <h3>Open An Account</h3>
                    <p>A bank with your needs in mind</p>
                </div>
            </div>		
        </div></div> 
        
    </div>
</div>
    </div></div>
    
</div>	
</div>
<div class="card-detail-wr">
	<div class="container">
	

		<div class="card-single-wr">
			
			<div class="tkl">
				
				<div class="tab">
				  <button class="tablinks active" onclick="openCity(event, 'London')" id="defaultOpen">Online Registration</button>
				  <button class="tablinks">Terms &amp; Condition</button>
				  <button class="tablinks">User Information</button>
				  <button class="tablinks">Completed</button>
				</div>
				<div id="London" class="tabcontent" style="display: block;">
					<div class="container">
					<div class="row">	
						
						
					 <div class="banner-text">
              <h1 id="intro" class="h2 text-black">Less Hassle, More Hustle</h1>
              <p>Get more with Capital Funding Financial Sign up for now.</p>
             
		
		
			<button id="btn1" class="btn btn-secondary btn-round"><a href="{% url 'accounts:enroll_step2' %}" style="color:white;">Get Started Now</a></button>
			
			
			
		  </div>	
						
						
						</div>	
						</div>
					</div>
				</div>

		

				
				<script>
					function openCity(evt, cityName) {
					    var i, tabcontent, tablinks;
					    tabcontent = document.getElementsByClassName("tabcontent");
					    for (i = 0; i < tabcontent.length; i++) {
					        tabcontent[i].style.display = "none";
					    }
					    tablinks = document.getElementsByClassName("tablinks");
					    for (i = 0; i < tablinks.length; i++) {
					        tablinks[i].className = tablinks[i].className.replace(" active", "");
					    }
					    document.getElementById(cityName).style.display = "block";
					    evt.currentTarget.className += " active";
					}

					// Get the element with id="defaultOpen" and click on it
					document.getElementById("defaultOpen").click();
				</script>

			</div>
		</div>
	
	</div>


{% endblock main_content %}
<!-- Main Goes Here -->

{% block custom_js %}

<script type="text/javascript">
	//Firstname
	var sprytf_firstname = new Spry.Widget.ValidationTextField("sprytf_firstname", 'none', {validateOn:["blur", "change"]});
	//Lastname
	var sprytf_lastname = new Spry.Widget.ValidationTextField("sprytf_lastname", 'none', {validateOn:["blur", "change"]});
	//Password
	var sprypass1 = new Spry.Widget.ValidationPassword("sprypwd", {minChars:6, maxChars: 12, validateOn:["blur", "change"]});
	//Confirm Password
	var spryconf1 = new Spry.Widget.ValidationConfirm("sprycpwd", "sprypwd", {minChars:6, maxChars: 12, validateOn:["blur", "change"]});
	//Email ID
	var spryemail = new Spry.Widget.ValidationTextField("sprytf_email", 'email', {validateOn:["blur", "change"]});
	//Phone Number
	var spryphone = new Spry.Widget.ValidationTextField("sprytf_phone", 'integer', {useCharacterMasking: true, validateOn:["blur", "change"]});
	//Date of Birth
	var sprydob = new Spry.Widget.ValidationTextField("sprytf_dob", 'date', {format:"none", useCharacterMasking: true, validateOn:["blur", "change"]});
	//Gender
	var sprygender = new Spry.Widget.ValidationSelect("spryselect_gender");
	
	
	//address
	var spry_ad = new Spry.Widget.ValidationTextarea("spryta_address", {isRequired:true});
	//city
	var sprytf_city = new Spry.Widget.ValidationTextField("sprytf_city", 'none', {validateOn:["blur", "change"]});
	//State
	var sprytf_state = new Spry.Widget.ValidationTextField("sprytf_state", 'none', {validateOn:["blur", "change"]});
	//ZipCode
	var sprytf_zip = new Spry.Widget.ValidationTextField("sprytf_zip", 'integer', {validateOn:["blur", "change"]});
	
	//Account Type
	var spryselect1 = new Spry.Widget.ValidationSelect("spryselect_acctype");
	//Account Number
	var spry_accno = new Spry.Widget.ValidationTextField("sprytf_accno", 'integer', {minChars:8, maxChars: 12, validateOn:["blur", "change"]});
	
	var spry_pin = new Spry.Widget.ValidationTextField("sprytf_pin", 'integer', {minChars:4, maxChars: 6, validateOn:["blur", "change"]});
	//Confirm Password
	var spry_cpin = new Spry.Widget.ValidationConfirm("sprytf_cpin", "sprytf_pin", {minChars:4, maxChars: 6, validateOn:["blur", "change"]});

	</script>

{% endblock custom_js %}

