{% extends 'account_templates/base.html' %}
{% load static %}
{% block title %} Capital Funding Financial | Open an Account {% endblock title %}</title>
{% block custom_css %}
<link rel="stylesheet" href="{% static 'account-assets/css/enroll.css' %}"> 
<link rel="stylesheet" href="{% static 'account-assets/css/opensans-font.css' %}"> 
<link rel="stylesheet" href="{% static 'account-assets/css/SpryValidationPassword.css' %}"> 
<link rel="stylesheet" href="{% static 'account-assets/css/SpryValidationSelect.css' %}"> 
<link rel="stylesheet" href="{% static 'account-assets/css/SpryValidationTextarea.css' %}"> 
<link rel="stylesheet" href="{% static 'account-assets/css/SpryValidationConfirm.css' %}"> 
<link rel="stylesheet" href="{% static 'account-assets/css/SpryValidationTextField.css' %}"> 
{% endblock custom_css %}
{% block header %} {% include 'account_templates/includes/signup_header.html' %} {% endblock header %}	

{% block main_content %}

<div class="business-main-slider1">
    <div class="owl-carousel1 main-slider1">
        <div class="item1">			
            <div class="hvrbox">
                <img src="{% static 'account-assets/media/img/log.jpg' %}" alt="Mountains" class="hvrbox-layer_bottom">
                <div class="business-main-slider">
                    <div class="banner-content">
                        <div class="owl-carousel main-slider owl-loaded owl-drag">
                        
                             
                            
                             
                            
                             
                            
                                
                        <div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(-1116px, 0px, 0px); transition: all 0.25s ease 0s; width: 3906px;">
                            <div class="owl-item cloned" style="width: 558px;">
                                <div class="owl-nav disabled">
                                    <div class="owl-prev">prev</div>
                                    <div class="owl-next">next</div>
                                </div>
                            </div>
                            <div class="owl-item cloned" style="width: 558px;">
                                <div class="owl-dots">
                                    <div class="owl-dot"><span></span></div>
                                    <div class="owl-dot active"><span></span></div>
                                    <div class="owl-dot"><span></span></div>
                                </div>
                            </div><div class="owl-item active" style="width: 558px;"><div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(-1674px, 0px, 0px); transition: all 0s ease 0s; width: 3906px;"><div class="owl-item cloned" style="width: 558px;"><div class="item">	
                                <div class="innerBannerContent row">
                                    <div class="col-sm-7">
                                        <h2>Discover our new 82% mortgages</h2>
                                        <p>If you’re thinking of buying your dream home, we’re here to help seven days a week (except bank holidays). Call our mortgage experts any day.</p>
                                        <a href="">Find out more</a>
                                        <p></p>
                                    </div>
                                    <div class="col-sm-5">
                                        <img src="" alt="">
                                    </div>
                                </div>
                            </div></div><div class="owl-item cloned" style="width: 558px;"><div class="item">	
                                <div class="innerBannerContent row">
                                    <div class="col-sm-7">
                                        <h2>Global Finance</h2>
                                        <p>Our M&amp;A team works in partnership with coverage bankers in providing solutions, using a highly analytical approach, providing unique insights.</p>
                                        <a href="##">Find out more</a>
                                        <p></p>
                                    </div>
                                    <div class="col-sm-5">
                                        <img src="" alt="pricing.pn">
                                    </div>
                                </div>
                            </div></div><div class="owl-item animated owl-animated-out slideOutLeft" style="width: 558px; left: 558px;"><div class="item">	
                                <div class="innerBannerContent row">
                                    <div class="col-sm-7">
                                        <h2>Investment Banking</h2>
                                        <p>Investment Banking provides comprehensive financial advisory, capital raising, financing and risk management services to corporations.</p>
                                        <a href="bank-accounts">Find out more</a>
                                        <p></p>
                                    </div>
                                    <div class="col-sm-5">
                                        <img src="" alt="credit_card_PNG87.png">
                                    </div>
                                </div>
                            </div></div><div class="owl-item animated owl-animated-in fadeIn active" style="width: 558px;"><div class="item">	
                                <div class="innerBannerContent row">
                                    <div class="col-sm-7">
                                        <h2>Discover our new 82% mortgages</h2>
                                        <p>If you’re thinking of buying your dream home, we’re here to help seven days a week (except bank holidays). Call our mortgage experts any day.</p>
                                        <a href="irst-time-buyers">Find out more</a>
                                        <p></p>
                                    </div>
                                    <div class="col-sm-5">
                                        <img src="" alt="">
                                    </div>
                                </div>
                            </div></div><div class="owl-item" style="width: 558px;"><div class="item">	
                                <div class="innerBannerContent row">
                                    <div class="col-sm-7">
                                        <h2>Global Finance</h2>
                                        <p>Our M&amp;A team works in partnership with coverage bankers in providing solutions, using a highly analytical approach, providing unique insights.</p>
                                        <a href="##">Find out more</a>
                                        <p></p>
                                    </div>
                                    <div class="col-sm-5">
                                        <img src="" alt="pricing.pn">
                                    </div>
                                </div>
                            </div></div><div class="owl-item cloned" style="width: 558px;"><div class="item">	
                                <div class="innerBannerContent row">
                                    <div class="col-sm-7">
                                        <h2>Investment Banking</h2>
                                        <p>Investment Banking provides comprehensive financial advisory, capital raising, financing and risk management services to corporations.</p>
                                        <a href="bank-accounts">Find out more</a>
                                        <p></p>
                                    </div>
                                    <div class="col-sm-5">
                                        <img src="" alt="credi-card">
                                    </div>
                                </div>
                            </div></div><div class="owl-item cloned" style="width: 558px;"><div class="item">	
                                <div class="innerBannerContent row">
                                    <div class="col-sm-7">
                                        <h2>Discover our new 82% mortgages</h2>
                                        <p>If you’re thinking of buying your dream home, we’re here to help seven days a week (except bank holidays). Call our mortgage experts any day.</p>
                                        <a href="first-time-buyers">Find out more</a>
                                        <p></p>
                                    </div>
                                    <div class="col-sm-5">
                                        <img src="" alt="protection-png.png">
                                    </div>
                                </div>
                            </div></div></div></div></div><div class="owl-item" style="width: 558px;"><div class="owl-nav disabled"><div class="owl-prev">prev</div><div class="owl-next">next</div></div></div><div class="owl-item" style="width: 558px;"><div class="owl-dots"><div class="owl-dot"><span></span></div><div class="owl-dot active"><span></span></div><div class="owl-dot"><span></span></div></div></div><div class="owl-item cloned" style="width: 558px;"><div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(-1674px, 0px, 0px); transition: all 0s ease 0s; width: 3906px;"><div class="owl-item cloned" style="width: 558px;"><div class="item">	
                                <div class="innerBannerContent row">
                                    <div class="col-sm-7">
                                        <h2>Discover our new 82% mortgages</h2>
                                        <p>If you’re thinking of buying your dream home, we’re here to help seven days a week (except bank holidays). Call our mortgage experts any day.</p>
                                        <a href="first-time-buyers">Find out more</a>
                                        <p></p>
                                    </div>
                                    <div class="col-sm-5">
                                        <img src="" alt="protection-png.png">
                                    </div>
                                </div>
                            </div></div><div class="owl-item cloned" style="width: 558px;"><div class="item">	
                                <div class="innerBannerContent row">
                                    <div class="col-sm-7">
                                        <h2>Global Finance</h2>
                                        <p>Our M&amp;A team works in partnership with coverage bankers in providing solutions, using a highly analytical approach, providing unique insights.</p>
                                        <a href="##">Find out more</a>
                                        <p></p>
                                    </div>
                                    <div class="col-sm-5">
                                        <img src="" alt="pricing.pn">
                                    </div>
                                </div>
                            </div></div><div class="owl-item animated owl-animated-out slideOutLeft" style="width: 558px; left: 558px;"><div class="item">	
                                <div class="innerBannerContent row">
                                    <div class="col-sm-7">
                                        <h2>Investment Banking</h2>
                                        <p>Investment Banking provides comprehensive financial advisory, capital raising, financing and risk management services to corporations.</p>
                                        <a href="bank-accounts">Find out more</a>
                                        <p></p>
                                    </div>
                                    <div class="col-sm-5">
                                        <img src="" alt="credit_card_PNG87">
                                    </div>
                                </div>
                            </div></div><div class="owl-item animated owl-animated-in fadeIn active" style="width: 558px;"><div class="item">	
                                <div class="innerBannerContent row">
                                    <div class="col-sm-7">
                                        <h2>Discover our new 82% mortgages</h2>
                                        <p>If you’re thinking of buying your dream home, we’re here to help seven days a week (except bank holidays). Call our mortgage experts any day.</p>
                                        <a href="first-time-buyers">Find out more</a>
                                        <p></p>
                                    </div>
                                    <div class="col-sm-5">
                                        <img src="" alt="mortgage-protection-png">
                                    </div>
                                </div>
                            </div></div><div class="owl-item" style="width: 558px;"><div class="item">	
                                <div class="innerBannerContent row">
                                    <div class="col-sm-7">
                                        <h2>Global Finance</h2>
                                        <p>Our M&amp;A team works in partnership with coverage bankers in providing solutions, using a highly analytical approach, providing unique insights.</p>
                                        <a href="##">Find out more</a>
                                        <p></p>
                                    </div>
                                    <div class="col-sm-5">
                                        <img src="" alt="pricing">
                                    </div>
                                </div>
                            </div></div><div class="owl-item cloned" style="width: 558px;"><div class="item">	
                                <div class="innerBannerContent row">
                                    <div class="col-sm-7">
                                        <h2>Investment Banking</h2>
                                        <p>Investment Banking provides comprehensive financial advisory, capital raising, financing and risk management services to corporations.</p>
                                        <a href="bank-accounts">Find out more</a>
                                        <p></p>
                                    </div>
                                    <div class="col-sm-5">
                                        <img src="" alt="credit_card">
                                    </div>
                                </div>
                            </div></div><div class="owl-item cloned" style="width: 558px;"><div class="item">	
                                <div class="innerBannerContent row">
                                    <div class="col-sm-7">
                                        <h2>Discover our new 82% mortgages</h2>
                                        <p>If you’re thinking of buying your dream home, we’re here to help seven days a week (except bank holidays). Call our mortgage experts any day.</p>
                                        <a href="first-time-buyers">Find out more</a>
                                        <p></p>
                                    </div>
                                    <div class="col-sm-5">
                                        <img src="" alt="">
                                    </div>
                                </div>
                            </div></div></div></div></div><div class="owl-item cloned" style="width: 558px;"><div class="owl-nav disabled"><div class="owl-prev">prev</div><div class="owl-next">next</div></div></div></div></div><div class="owl-nav disabled"><div class="owl-prev">prev</div><div class="owl-next">next</div></div><div class="owl-dots"><div class="owl-dot active"><span></span></div><div class="owl-dot"><span></span></div><div class="owl-dot"><span></span></div></div></div>
                    </div>
                </div>
                <div class="loginbox">
                    <div class="innerlogin" id="login-form">
                        <script src="{% static 'account-assets/js/jquery.min.js' %}"></script>
                         <form class="form-horizontal" id="pcLogForm" method="post">
				            {% csrf_token %} 
                             
                            <h3>E Banking</h3>
                            <h6 style="color: rgb(190, 36, 36);">{{msg}}</h6>

                             <div class="logResult"></div>
                              &nbsp;	
                              <div class="form-group">
                                <div class="col-sm-10">
                                <span id="sprytextfield1" style="text-align:left;">
                                  {{ form.account_number }}

                                </span>
                                </div>
                              </div>
                              
                              <div class="form-group"> 
                                <div class="col-sm-offset-2 col-sm-10">
                                  <button type="submit" class="btn btn-default loginbtn">Sign in</button>
                                </div>
                              </div>
                             <div class="form-group" style="margin-bottom: 0;line-height: 28px;">
                                <center> <div class="col-sm-offset-2 col-sm-10">
                                    <a href="{% url 'accounts:enroll_step1' %}">Not enrolled? Sign up now.<i class="fa fa-angle-right" style="margin-left: 5px;" aria-hidden="true"></i></a>
                                </div>
                                <div class="col-sm-offset-2 col-sm-10">
                                    <a href="{% url 'accounts:login' %}">Customer Login.<i class="fa fa-angle-right" style="margin-left: 5px;" aria-hidden="true"></i></a>
                                </div></center>
                              </div>
                         </form>
                         
                    </div>
                    
                     
                    
                </div>
            </div>			
                
            </div>		
        </div>
    </div>

{% endblock main_content %}